<%= render :partial => "header" %>
<p>
Halo Monitoring's privacy policy goes here.
</p>
<p>
<%= link_to "Return to index", :action => "index" %>
<% if @connected %>
 | <%= link_to "Log out", :action => "logout"%>
<% end %>
</p>