<h1>New halo_debug_msgs</h1>

<%= error_messages_for :halo_debug_msgs %>

<% form_for(@halo_debug_msgs) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', halo_debug_msgs_path %>
