<% caregiver = User.find(caregiver_id) %>


<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:380px;" id="container">
			You are missing this information. Would you like to enter it now?
			<br />
			<br />
			<%=link_to_remote_redbox('Yes', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => caregiver.profile.id, :user_id => user_id, :frame => true }, :html => {:method => :get, :complete => ''})%>
			|
			<a href="javascript:void(0)" onClick="RedBox.close()">No</a>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>