<% user = User.find(id) %>


<div id="container1">
<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:380px;" id="container">
			<%= missing%>
			<br />
			<br />
			<%  roles_user = nil
					roles_user_id = nil
					operator = nil
					if !params[:operator].blank?
						roles_user = user.roles_user_by_role_name('operator')
						operator = true
					else
						roles_user = user.roles_user_by_caregiver(user)
					end
					if roles_user.nil?
					  roles_user = user.roles_user_by_role_name('sales')
					  operator = true
					end
					roles_user_id = roles_user.id if roles_user
			%>
			<%=link_to_remote('Yes', :update => 'container1', :url =>{ :refresh => 'true', :controller => "profiles", :action => 'edit_caregiver_profile', :id => user.profile.id, :operator => operator, :user_id => user_id, :frame => true,  :roles_user_id => roles_user_id }, :html => {:method => :get})%>
			|
			<a href="javascript:void(0)" onClick="RedBox.close();">No</a>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>
</div>