<div id="container1">
<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:380px;" id="container">
			<p>You will need to configure alerts to receive emails or text message for critical events 
			including a Fall or Panic Button press. Press the Phone button to receive a call from our 
			call center in the case of a critical event.<p>
			
		  <p>Last, click "Non-critical Alerts" for other alerts such as Gateway Offline, Strap Removed, etc. 
		      You will not receive calls for these alerts.</p>
		      
		  <p>After you're done configuring alerts, please configure your profile by clicking 
		      My Profile under My Links at the top of the page.
      </p>      
			<a href="javascript:void(0)" onClick="RedBox.close()">Configure Alerts</a>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>
</div>