/* CSS file for Halo Monitoring Flex Chart*/
Application
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	backgroundGradientAlphas: 1.0, 1.0;
}

ColumnChart
{
	gutterLeft: 0;
	gutterRight: 0;
	gutterTop: 0;
	gutterBottom: 0;
}

AreaChart
{
	gutterLeft: 0;
	gutterRight: 0;
	gutterTop: 0;
	gutterBottom: 0;
}
	
StatusLabel {
	fontWeight: bold;
}

Panel {
   borderStyle: solid;
   borderAlpha: 0.52;
   borderThickness: 0;
   borderThicknessLeft: 5;
   borderThicknessTop: 5;
   borderThicknessBottom: 5;
   borderThicknessRight: 5;
   roundedBottomCorners: true;
   backgroundAlpha: 1;
   highlightAlphas: 0.32, 0.08;
   headerColors: #193244, #528acb;
   footerColors: #cccccc, #c7c7c7;
   backgroundColor: #f3f2f6;
   dropShadowEnabled: true;
   shadowDistance: 2;
   shadowDirection: right;
   dropShadowColor: #999999;
   titleStyleName: "HaloPanelTitle";
   color:#000;
   fontFamily:Helvetica;
}

LinkButton
{
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;	
}

Button
{
	fillAlphas: 1,1;
	cornerRadius: 2;
}

.sidebarPanel {
	headerHeight:0;
}

.secondaryPanel {
	headerHeight:0;
	dropShadowEnabled:false;
}

.statusPanel{
	headerColors: #99FF00, #8AE600;
}


.StatusPanelTitle {
   letterSpacing: 0;
   color: #193244;
   textAlign: left;
   fontFamily: Verdana;
   fontWeight: bold;
}

.HaloPanelTitle {
   letterSpacing: 0;
   color: #ffffff;
   textAlign: left;
   fontFamily: Verdana;
   fontWeight: bold;
}

.HaloButton {
	color: #2D627A;
	fillAlphas: 1.0, 1.0;
	fillColors: #fdfdfd, #abc9d7, #abc9d7, #a09f9f;
	cornerRadius: 5;
	paddingTop: 5;
}

.HaloDateButton {
	color: #2D627A;
	fillColors: #fdfdfd, #abc9d7, #abc9d7, #a09f9f;
	cornerRadius: 5;
	paddingTop: 5;
	alpha: .5;
}

.HaloDateIcon {
	cornerRadius: 2;
	fillColors: #02F530, #02F560;
	alpha: .5;
}

Label.lastStatusLabel
{
	color: #22A7C3;
	fontSize: 18;
	fontWeight: bold;
}
.HaloSlider
{
	fillAlphas: 1.0, 1.0;
	fillColors: #193244, #528ACB, #528ACB, #193244;
	trackColors: #02F530,#02F530;
	
	thumbSkin: Embed(source="images/grabber.png");
	trackSkin: Embed(source="images/slider-bg.png");
	
	tickColor: #f3f2f6;
}

.sidebarBig
{
	color:#4691b1;
	fontSize:23;
}

.eventText
{
	color:#4790b3;
	border-thickness-bottom:1;
	text-decoration:underline;
}

.eventPopUp
{
	backgroundColor:#ffff00;
	backgroundAlpha:0.5;
	headerHeight:15;
	headerColors:#888800, #444400; 
}

.eventPopUpTitle
{
   letterSpacing: 0;
   color: #ffffff;
   textAlign: left;
   fontFamily: Verdana;
   fontWeight: bold;
}

.sliderDateLabel
{
	fontFamily: Arial;
	fontSize: 12;
	color: #000000;
	fontWeight:normal;
}

.sliderBox
{
	/*NOTE: The yAxisStroke node does not support styles and must be changed in MXML! */
	borderColor:#99FF00;
	borderStyle:solid;
	backgroundColor:#f3f2f6;
}

.haloChartStyle
{
	tickPlacement: none;
}