/* CSS file */

StatusLabel {
	fontWeight: bold;
}

Panel {
   borderStyle: solid;
   borderAlpha: 0.52;
   borderThickness: 0;
   borderThicknessLeft: 5;
   borderThicknessTop: 5;
   borderThicknessBottom: 5;
   borderThicknessRight: 5;
   roundedBottomCorners: true;
   backgroundAlpha: 1;
   highlightAlphas: 0.32, 0.08;
   headerColors: #193244, #528acb;
   footerColors: #cccccc, #c7c7c7;
   backgroundColor: #f3f2f6;
   dropShadowEnabled: true;
   shadowDistance: 2;
   shadowDirection: right;
   dropShadowColor: #999999;
   titleStyleName: "HaloPanelTitle";
   color:#000;
   fontFamily:Helvetica;
}

.sidebarPanel {
	headerHeight:0;
}

.secondaryPanel {
	headerHeight:0;
	dropShadowEnabled:false;
}

.statusPanel{
	headerColors: #02F530, #f3f2f6;
	headerHeight: 15;
}


.StatusPanelTitle {
   letterSpacing: 0;
   color: #193244;
   textAlign: left;
   fontFamily: Verdana;
   fontWeight: bold;
}

.HaloPanelTitle {
   letterSpacing: 0;
   color: #ffffff;
   textAlign: left;
   fontFamily: Verdana;
   fontWeight: bold;
}

.HaloButton {
	color: #2D627A;
	fillAlphas: 1.0, 1.0;
	fillColors: #fdfdfd, #abc9d7, #abc9d7, #a09f9f;
	cornerRadius: 5;
	paddingTop: 5;
}

.HaloDateButton {
	color: #2D627A;
	fillColors: #fdfdfd, #abc9d7, #abc9d7, #a09f9f;
	cornerRadius: 5;
	paddingTop: 5;
	alpha: .5;
}

.HaloDateIcon {
	cornerRadius: 2;
	fillColors: #02F530, #02F560;
	alpha: .5;
}

Label.lastStatusLabel
{
	color: #22A7C3;
	fontSize: 18;
	fontWeight: bold;
}
.HaloSlider
{
	fillAlphas: 1.0, 1.0;
	fillColors: #193244, #528ACB, #528ACB, #193244;
	trackColors: #02F530,#02F530;
	
	thumbSkin: Embed(source="images/grabber.png");
	trackSkin: Embed(source="images/slider-bg.png");
	
	tickColor: #f3f2f6;
}

.sidebarBig
{
	color:#4691b1;
	fontSize:23;
}

.eventText
{
	color:#4790b3;
	border-thickness-bottom:1;
	text-decoration:underline;
}