<h1>User Log for <%= @user.name %></h1>
<p>
  <label class="span-3"><strong>Created at:</strong></label>
  <%= @user_log.created_at %>
</p>
<p>
  <label class="span-3"><strong>Message:</strong></label>
  <%= @user_log.log %>
</p>