<div id="message" style="display: none;"></div>

<script type="text/javascript">

//<![CDATA[
new Ajax.Updater('message', '/alerts/message/', {asynchronous:true, evalScripts:true, onComplete:function(request){RedBox.addHiddenContent('message'); }, onLoading:function(request){RedBox.loading(); }})
//]]>

</script>