<%= javascript_include_tag :defaults %>

<!--declare a chart object and call one of the methods in line_chart_* methods in chart_controller.rb-->
<div style="float:right">
<%= ziya_chart( url_for( :controller => 'chart', 
                         :action => 'bar_chart_activity_live'), 
                         :id => 'activity_live', 
                         :width => 650, 
                         :height => 550, 
                         :bgcolor => "#efefef") %>
</div>
<div style="clear:both"></div>

<!--%= periodically_call_remote( :url => { :action => :activity_post }, :frequency => 15 )--%>