Battery: <div style="float:right;margin-right:20px;background:url('/images/battery.gif');width:73px;height:29px"><div style="background:#bc0618;height:16px;width:<%=@gauge_width%>px;margin-top:6px;margin-left:8px"></div></div>
<br />
<br />
<span class="big"><%=@battery.percentage%>%</span>
<br />
<br />
<hr />
<br />