<%= javascript_include_tag :defaults %>
<!--declare a chart object and call one of the methods in line_chart_* methods in chart_controller.rb-->
<div style="float:right">
<%= ziya_chart( url_for( :controller => 'chart', 
                         :action => 'line_chart',
						 :id => @user.id), 
                         :id => 'line_chart', 
                         :width => 675, 
                         :height => 215, 
                         :bgcolor => "#efefef") %>
</div>
<div style="float:right">
	<%= ziya_chart( url_for( :controller => 'chart', 
	                         :action => 'activity_chart',
							 :id => @user.id), 
	                         :id => 'activity_chart', 
	                         :width => 675, 
	                         :height => 200,
	                         :bgcolor => "#efefef") %>
</div>
<div style="clear:both"></div>

<!--%= periodically_call_remote( :url => { :action => :heartrate_post }, :frequency => 15 )%-->