Recent Events:

<% @events.each do |event| %>
  <p>
    <b><!--%=event.timestamp.to_date.to_s(:long)%-->
    <%=event.event_type%> @ <%=event.timestamp.to_s%>
    </b>
  </p>

<% end %>

<div style="clear:both"></div>