<!--User Time Zone :-->  <!--%=@user.profile.time_zone%> -->
<!--User Time Zone :-->  <!--%=@user.profile.time_zone%> -->
User Time Zone:   
<br/>
<%=TzTime.zone%> 


<br/>
<br/>





Recent Events:

<% @events.each do |event| %> 

  <p>
    
   <b><!--%=event.timestamp.to_date.to_s(:long)%-->

   
   
    <%=event.event_type%> </b> @ 
<!--%=event.timestamp.to_s%>-->
     

<%=TzTime.zone.utc_to_local(event.timestamp).strftime("%m-%d-%Y %I:%M %p")%>

 
  
   </p>

<% end %>

<div style="clear:both"></div>