<!--User Time Zone :-->  <!--%=@user.profile.time_zone%> -->
<!--User Time Zone :-->  <!--%=@user.profile.time_zone%> -->






Recent Events:
<% @events.each do |event| %> 

  <p>
    
   <b><!--%=event.timestamp.to_date.to_s(:long)%-->

   
   
    <%=event.event_type%> </b> @ <br/> 
<!--%=event.timestamp.to_s%>-->
     

<%=TzTime.zone.utc_to_local(event.timestamp).strftime("%a %m-%d-%Y %I:%M %p")%>

 
  
   </p>

<% end %>
User Time Zone:   
<br/>
<%=TzTime.zone%> 


<div style="clear:both"></div>