Recent Events:

<% @events.each do |event| %>
	<p>
		<b><!--%=event.timestamp.to_date.to_s(:long)%-->
                    <%=event.timestamp.to_s%>
                </b>
		<br />
		<%=event.kind%>
	</p>
	
<% end %>

<div style="clear:both"></div>