<div align="right"><span class="ghgrn style2">Merle McGee</span> </div>
<%= ziya_chart( url_for( :controller => 'chart', :action => 'line_chart_discrete'), :id => 'heartrate', :width => 650, :height => 550, :bgcolor => "white") %></div>