.DS_Store
.eprj
config/database.yml
coverage
coverage.data
db/*.sqlite3
db/schema.rb
dialup
doc/api
doc/app
log
log/*.log
log/lsws
public/javascripts/cache
public/stylesheets/cache
rerun.txt
rufus.sh
tmp/*
tmp/**/*
webrat-*
