<h1 id="updates_to_user_intake">Updates to User Intake: <%= @user_intake.id %></h1>
<div class="box">
  <p><%=h @user_intake.audits.last( :order => 'created_at').changes unless @user_intake.audits.blank? %></p>
  <hr />
  <% [:senior, :subscriber, :caregiver1, :caregiver2, :caregiver3].each do |_user| %>
    <h3><%=h _user.to_s.capitalize %>:</h3>
    <p><%=h @user_intake.send( _user).audits.last( :order => "created_at").changes if !@user_intake.send( _user).blank? && !@user_intake.send( _user).audits.blank? %></p>
  <% end %>
</div>