<span style="background-color: #9ED3FA;">Blue</span> - Will be initialized by server, rarely updated by Accounting<br/>
<span style="background-color: #FFB3B3;">Red</span> -  Possible to initialize by server, will need update by Accounting<br/> 
<span style="background-color: #CAE495;">Green</span> <span style="background-color: #E5E5FF;">Purple</span> <span style="background-color: #D6D6D6;">Grey</span> <span style="background-color: #FFB866;">Brown</span> - Not touched by server, populated by Accounting<br/>