<h3>Hours not worn</h3>
<!-- amcolumn script-->
	<div id="flashcontent">
			<strong>You need to upgrade your Flash Player</strong>
		</div>

		<script type="text/javascript">
			// <![CDATA[		
			var so = new SWFObject("/amcharts/amline.swf", "amcolumn", "600", "400", "8", "#ffffff");
			//so.addVariable("path", "/amcharts/");
			so.addVariable("settings_file", "/amcharts/settings/device_worn.xml");
			so.addVariable("data_file", escape("/devices/data/<%=params[:id]%>/?type=not_worn"));
			so.addVariable("preloader_color", "#ffffff");
			so.write("flashcontent");
			// ]]>
		</script>
<!-- end of amcolumn script -->

<h3>Hours out of range</h3>
<!-- amcolumn script-->
	<div id="out_of_range">
			<strong>You need to upgrade your Flash Player</strong>
		</div>

		<script type="text/javascript">
			// <![CDATA[		
			var so = new SWFObject("/amcharts/amline.swf", "amcolumn", "600", "400", "8", "#ffffff");
			//so.addVariable("path", "/amcharts/");
			so.addVariable("settings_file", "/amcharts/settings/device_worn.xml");
			so.addVariable("data_file", escape("/devices/data/<%=params[:id]%>/?type=out_of_range"));
			so.addVariable("preloader_color", "#ffffff");
			so.write("out_of_range");
			// ]]>
		</script>
<!-- end of amcolumn script -->

<h3>Hours of battery charging</h3>
<!-- amcolumn script-->
	<div id="charging">
			<strong>You need to upgrade your Flash Player</strong>
		</div>

		<script type="text/javascript">
			// <![CDATA[		
			var so = new SWFObject("/amcharts/amline.swf", "amcolumn", "600", "400", "8", "#ffffff");
			//so.addVariable("path", "/amcharts/");
			so.addVariable("settings_file", "/amcharts/settings/device_worn.xml");
			so.addVariable("data_file", escape("/devices/data/<%=params[:id]%>/?type=battery_charge"));
			so.addVariable("preloader_color", "#ffffff");
			so.write("charging");
			// ]]>
		</script>
<!-- end of amcolumn script -->