<h1>New battery_critical</h1>

<%= error_messages_for :battery_critical %>

<% form_for(@battery_critical) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', battery_criticals_path %>
