<div id="term-of-service">
Terms of Use<br />
These Terms and Conditions of Use (the "Terms of Use") apply to the myHalo web site located at www.myhalomonitor.com, and all associated sites linked to www.myhalomonitor.com by Halo Monitoring, its subsidiaries and affiliates, including Halo Monitoring sites around the world (collectively, the "Site"). The Site is the property of Halo Monitoring, Inc. ("Halo Monitoring"), with a principal place of business at 515 Sparkman Drive, Huntsville, AL 35816, and its licensors. This agreement is between you and Halo Monitoring, Inc. and its subsidiaries and affiliates.<br />
<br />
You acknowledge that you have read the terms and conditions of use and that you accept the terms thereof. You agree to read these terms and conditions of use carefully before using this company web site. BY USING THE SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND PRIVACY POLICY and all disclaimers and terms and conditions that appear elsewhere on the site; IF YOU DO NOT AGREE, DO NOT ACCESS OR OTHERWISE USE THE SITE.<br />
<br />
Halo Monitoring reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use and Privacy Policies, at any time. It is your responsibility to check these Terms of Use and Privacy Policies periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes. As long as you comply with these Terms of Use and Privacy Policies, Halo Monitoring grants you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Site. If you are dissatisfied with the Site, its content or Terms of Use and Privacy Policies, you agree that your sole and exclusive remedy is to discontinue using the Site.<br />
<br />
1.  DEFINITIONS<br />
<br />
1.1	Caregivers.  Caregivers shall mean those individuals the Subscriber designates as entitled to receive certain Subscriber Health Data in certain situations.<br />
 <br />
1.2	Emergency Personnel.  Emergency Personnel shall mean 911 operators, police, sheriff’s deputies, firefighters, paramedics, and other governmental or volunteer emergency responders.<br />
<br />
1.3	Equipment.  Equipment shall mean the Halo monitoring equipment, designed to be worn by an individual, which detects and measures certain Health Data and, in emergency situations, transmits the Health Data to Caregivers or Emergency Personnel.<br />
<br />
1.4	Health Data.  Health Data shall mean the data, files, reports and other information collected through and associated with the Equipment.  The Health Data shall also mean any information provided by the Subscriber to Halo through the Internet Portal.<br />
<br />
1.5	Internet Portal.  Internet Portal shall mean the password-protected internet website the Subscriber shall access to instruct Halo regarding the use of the Subscriber’s Health Data.<br />
<br />
1.5	Provider.  Provider shall refer to Halo Monitoring, Inc.<br />
<br />
2.  SUBSCRIBER’S RIGHTS AND OBLIGATIONS<br />
<br />
2.1	Equipment Requirements.  The Subscriber will provide at Subscriber’s sole expense suitable electric, broadband Internet, and telephone service to allow installation and operation of the Equipment.  The Subscriber will pay all the charges for such services including taxes if applicable.<br />
<br />
2.2	License Grant.  Subscriber hereby grants Halo a license to use and distribute the Health Data in connection with the services provided by Halo.  The Subscriber grants Halo the right to access, utilize, publish, and create derivative works from any and all Subscriber Health Data.<br />
<br />
2.3	Authorization. The Subscriber hereby authorizes Halo to share the Health Data, to only those entities and individuals designated in the Internet Portal for the purpose of providing medical care and for the purpose of sharing information with others selected by the Subscriber.  The Subscriber agrees that this authorization permits the disclosure of health or treatment information to Caregivers and Emergency Personnel that may also contain sensitive health information.<br />
<br />
      This authorization will remain in effect and permit the ongoing disclosure by Halo of the Health Data until the Subscriber deletes his or her profile(s) in the Internet Portal entirely or revokes the authorization. The Subscriber may revoke this authorization at any time by using the features or options described in the Halo FAQ portion of Halo’s website. The Subscriber agrees that any revocation will not apply to actions Halo has already taken in reliance on prior authorization.<br />
<br />
2.4	Use of Internet Portal. The Subscriber shall use the Internet Portal to designate the identity of the Subscriber’s Caregivers and place any limitations on the relaying of Health Data by Halo that the Subscriber desires to make.  The Subscriber is responsible for the accuracy and completeness of the information provided to Halo through the Internet Portal.  The Subscriber is responsible for the security of his or her passwords and for any use of the Subscriber’s account.  The Subscriber is at least 18 years of age.  The Subscriber’s use of the Internet Portal and Equipment shall comply with all applicable laws, regulations, and ordinances, including any laws relating to the export of data or software.  The Subscriber shall not disrupt the proper operation of the Equipment or the Internet Portal.<br />
<br />
2.5	HIPAA.  The Subscriber shall only transmit, create or display health or other information that the Subscriber is authorized to use, transmit, create or display.  The Subscriber acknowledges that Halo is not a “covered entity” under the Health Insurance Portability and Accountability Act of 1996 and the regulations promulgated thereunder (“HIPAA”).  As a result, HIPAA does not apply to the transmission of Health Data by Halo to any third party.<br />
<br />
2.6	Telephone Provider. The Subscriber acknowledges that if the Subscriber’s telephone line is occupied, the Equipment will not be able to obtain access to the phone line unless the Subscriber has his or her telephone provider install a RJ31X jack.  If the Subscriber has such jack installed, the Subscriber consents to an interrupt of the Subscriber’s telephone in the event the Equipment detects an emergency or life-threatening situation.<br />
<br />
2.7	Report.  The Subscriber shall report to Halo, as soon as practical, any perceived defect in the Equipment or Internet Portal.  The Subscriber shall provide to Halo an evaluation of the Equipment, Internet Portal, and services provided by Halo upon Halo’s reasonable request.<br />
<br />
2.8	Use of Panic Button. The Subscriber agrees that the Equipment’s panic button should be used only in the event of an emergency.  The Subscriber acknowledges that Caregivers and Emergency Personnel will be notified, even if the panic button was activated accidentally or in error.<br />
<br />
3.  HALO’S RIGHTS AND OBLIGATIONS<br />
<br />
3.1	Relay of Health Data.  Halo shall use its reasonable best efforts to contact Emergency Personnel and Caregivers in the event the Equipment detects an emergency situation or receives notice that the Equipment’s panic button has been activated.  Halo will transmit pertinent Health Data to the Caregivers and Emergency Personnel, in accordance with the Subscriber’s account settings set in the Subscriber’s Internet Portal.<br />
<br />
4.  PRIVACY POLICY FOR INTERNET PORTAL<br />
<br />
4.1 The Subscriber acknowledges that only the Subscriber has access to the Health Data. The Subscriber is the only user who can view and edit the information in the Internet Portal. Information in the Internet Portal will only be shared with others at the election of the Subscriber.<br />
<br />
4.2 From time to time, Halo may aggregate data to publish trend statistics and associations.  Halo may make health information available for research purposes or to better refine the algorithms and services provided through Halo.  All health information will be de-identified and no data can be used to personally identify any Subscriber.<br />
<br />
4.3 Halo’s servers automatically record log information about Subscriber use of the Internet portal (such as number of sign-ins and number of times a link was clicked). The log information will be used to operate and improve the service.<br />
<br />
4.4 Halo adheres to the US Safe Harbor privacy principles. For more information about the Safe Harbor framework or our registration, see the Department of Commerce’s web site at http://www.export.gov/safeharbor/.<br />
<br />
5.  TERM AND TERMINATION<br />
<br />
5.1	Term.  This Agreement and the Subscriber’s right to use the Equipment and Internet Portal shall be from the date hereof through one year from such date, if not terminated earlier pursuant to Section 5.2.  Upon termination of this Agreement, the Subscriber agrees to return the Equipment to Halo in the same condition in which it was received by the Subscriber, with reasonable wear and tear excepted.<br />
<br />
5.2	Termination.  This Agreement may be terminated a) by either party upon 30 days’ written notice; b) upon 10 days’ written notice in the event of a material breach by either party that remains uncured for 60 days after reasonable notice.  <br />
<br />
6.  PAYMENT TERMS<br />
<br />
6.1	Fees.  The Subscriber agrees to pay a deposit the amount of _______________ and fees in the amount of _________ per month.  <br />
<br />
6.2	Payment.  The Subscriber shall remit payment of the fees to Halo Monitoring.<br />
Subscriber Initials _________ <br />
<br />
7.  DISCLAIMERS<br />
<br />
7.1	Medical Advice.  Halo does not offer medical advice. Any content accessed through Halo, the Equipment, or the Internet Portal is for informational purposes only, and is not intended to cover all possible uses, directions, precautions, drug interactions, or adverse effects. The content of the Internet Portal and the Equipment should not be used for the diagnosis or treatment of any medical condition. The Subscriber should consult his or her doctor or other qualified health care provider if he or she has any questions about a medical condition, or before taking any drug, changing his or her diet or commencing or discontinuing any course of treatment. The Subscriber will not ignore or delay obtaining professional medical advice because of information accessed through Halo. The Subscriber shall call 911 or his or her doctor for all medical emergencies.<br />
<br />
7.2	Power/Phone Failure. Halo is not responsible for the failure of the Subscriber’s telephone, internet or power services.  In the event of such a failure, the Equipment may not be able to transmit the Subscriber’s Health Data to Halo.<br />
<br />
7.3	Indemnification.  In the event any person, not a party of this Agreement, including Subscriber’s insurance company, shall make any claim against Provider/Halo for any reason whatsoever, including but not limited to the installation, maintenance, operation or non-operation of the System, the Subscriber agrees to indemnify, defend, and hold Provider/Halo harmless for any and all claims and lawsuits including the payment of all damages, expenses, costs and attorney’s fees whether these claims be based upon alleged intentional conduct, active or passive negligence, or strict or product liability, on the part of the Provider, its agent, servants or employees.  The Subscriber shall and does hereby indemnify and save Provider/Halo, its distributors and agents harmless from any and all liability resulting from the selection, possession, operation, control, use and maintenance of the Equipment.  In the event of litigation, to protect Provider/Halo’s rights hereunder, the Subscriber agrees to pay all reasonable attorney’s fees, collection agent fees, or court costs resulting from such litigation.<br />
<br />
7.4	Hold Harmless.  Subscriber hereby releases, discharges and agrees to hold Provider/Halo harmless from any and all claims, liabilities, damages, losses or expenses, arising from or caused by any hazard covered by insurance in or on the premises of Subscriber whether said claim is made by Subscriber, his agents or insurance company, or by any other parties claiming under or through Subscriber.<br />
<br />
7.5	No Warranty or Representation. Provider/Halo does not represent or warrant that the Equipment may not be compromised or circumvented or the Equipment will prevent any personal injury, loss of life or property, or damage, or that the Equipment will in all cases provide the protection for which it is maintained or intended.  Provider/Halo expressly disclaims any implied warranties, including the implied warranties of merchantability or fitness for a particular purpose, and the Subscriber has not relied upon any representation or warranty. The Subscriber acknowledges that any affirmation of fact or promise made by Provider/Halo or its agents, servants or employees, shall not be deemed to create any express warranty unless included in the Agreement in writing.<br />
<br />
7.6	Limitation of Liability.  It is understood and agreed that Provider/Halo is not an insurer of person, life, limb or property and that insurance, if any, covering personal injury, life and property loss or damage shall be obtained by the Subscriber, if so desired.  Provider/Halo is being paid for the monitoring of Equipment designed to reduce certain risks.  Provider/Halo and the Subscriber acknowledge that the amounts being charged are not sufficient to in any way guarantee no loss or damage, and that Provider/Halo is not assuming responsibility for any personal injury, life or property loss or damage, even if due to Provider/Halo’s negligent performance or failure to perform any obligation under this Agreement or failure of the Equipment to operate as intended, or for any other reason whatsoever.  Since it is impractical and extremely difficult to fix actual damages which may arise due to improper monitoring of the Equipment, the failure of services, or the failure to perform said services, if not withstanding the above provisions there should arise any liability whatsoever on the part of Provider/Halo, it is agreed that such liability shall be limited to the cost of the Equipment.  This shall be complete and exclusive and shall be paid and received as an exclusive remedy and not as a penalty.<br />
<br />
7.7	Third-Party Service Providers. Halo may screen, modify, refuse or remove certain content or third-party services from the Internet Portal, but it is not responsible for and does not endorse any third-party content or services.  Halo further does not endorse any third-party service providers, other health care providers, products, services, opinions or websites access through the Internet Portal.  USE OF THE SERVICES AND RELIANCE ON THIS CONTENT IS SOLELY AT THE RISK OF THE SUBSCRIBER.  HALO MAY NOT BE HELD LIABLE FOR ANY DAMAGES ARISING OUT OF OR RELATED TO THE SUBSCRIBER’S USE OF ANY THIRD-PARTY SERVICE OR CONTENT.<br />
<br />
7.8	EXCLUSION OF WARRANTIES.  NEITHER HALO NOR PROVIDER NOR ANY OF HALO'S LICENSORS MAKE ANY OTHER WARRANTY, EXPRESS OR IMPLIED, WITH RESPECT TO THE HALO SYSTEM AND ALL OTHER WARRANTIES, WHETHER EXPRESS OR IMPLIED, ARE HEREBY DISCLAIMED, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. IN NO EVENT SHALL HALO BE LIABLE FOR ANY INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, LOSSES, COSTS OR EXPENSES OF ANY KIND, HOWEVER CAUSED AND WHETHER BASED IN CONTRACT, TORT, STRICT LIABILITY OR ANY OTHER THEORY OF LIABILITY.<br />
<br />
7.9	LIMITATION OF LIABILITY.  IN NO EVENT SHALL HALO BE LIABLE TO SUBSCRIBER OR CAREGIVER FOR ANY INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, LOSSES, COSTS OR EXPENSES OF ANY KIND, HOWEVER CAUSED AND WHETHER BASED IN CONTRACT, TORT, STRICT LIABILITY OR ANY OTHER THEORY OF LIABILITY, EVEN IF SUBSCRIBER OR CARGEIVER HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, LOSSES, COSTS OR EXPENSES.  IN ALL EVENTS, THE LIABILITY OF HALO AND PROVIDER AND SHALL BE LIMITED TO THE FEES PAID FOR THE HALO PRODUCTS AND SERVICES<br />
<br />
8.  MISCELLANEOUS<br />
8.1	Governing Law and Venue.  This Agreement shall be governed and construed in all respects in accordance with the laws of the State of Alabama without regard to its conflict of laws provisions.  Each Party hereby irrevocably consents to the exclusive jurisdiction of federal and state courts located in Huntsville, Alabama for any dispute relating to or arising from this Agreement.<br />
<br />
8.2	Notices.  All notices required or permitted hereunder shall be in writing addressed to the respective parties as set forth herein, unless another address shall have been designated, and shall be delivered by hand or by registered or certified mail, postage prepaid.<br />
<br />
      If to Halo:		
                HALO MONITORING, INC. <br />
      			515 Sparkman Drive<br />
      			Suite 303<br />
      			Huntsville, Alabama 35801<br />
<br />
<br />
8.3	Agreement Binding on Successors.  This Agreement shall be binding on and shall inure to the benefit of the parties hereto, and their heirs, administrators, successors, and assigns.<br />
<br />
8.4	Waiver.  No waiver by either party of any default shall be deemed as a waiver of any prior or subsequent default of the same or other provisions of this Agreement.<br />
<br />
8.5  	Severability.  If any provision hereof is held invalid or unenforceable by a court of competent jurisdiction, such invalidity shall not affect the validity or operation of any other provision and such invalid provision shall be deemed to be severed from the Agreement.<br />
<br />
8.6	Assignability.  This Agreement and the rights and obligations thereunder with respect to the Subscriber are personal to the Subscriber and may not be assigned by any act of the Subscriber or by operation of law without the prior written consent of Halo.<br />
<br />
8.7	Integration.  This Agreement constitutes the entire understanding of the parties, and revokes and supersedes all prior agreements between the parties and is intended as a final expression of their Agreement.  It shall not be modified or amended except in writing signed by the parties hereto and specifically referring to this Agreement.  This Agreement shall take precedence over any other documents that may be in conflict therewith.<br />
<br />
8.8	Survival of Covenants.  The representations and warranties, covenants, and obligations of Subscriber in Sections 6 and 7 shall survive the termination of this Agreement.<br />
<br />
8.9	Governing Law; Dispute Resolution.  In the event of any dispute between the parties regarding this Agreement, the parties agree to submit the resolution of such dispute to binding arbitration in accordance with Chapter 1, Title 9, of the United States Code (Federal Arbitration Act).  The arbitration shall be administered by the American Arbitration Association in accordance with its Commercial Arbitration Rules.  Judgment upon an award rendered pursuant to the arbitration may be entered in any court having jurisdiction or application may be made to such court for judicial acceptance of the award, and an order of enforcement, as the case may be.  The costs and expenses of the arbitration proceeding, including the fees of the arbitrator, legal fees, witness fees, and all other costs and expenses, shall be assessed in the discretion of the arbitrator.  The situs of the arbitration shall be Huntsville, Alabama.<br />
<br />
8.10	Waiver of Jury Trial.  THE PARTIES ACKNOWLEDGE THAT BY AGREEING TO BINDING ARBITRATION THEY HAVE IRREVOCABLY WAIVED ANY RIGHT THEY MAY HAVE HAD TO A JURY TRIAL BY A COURT WITH REGARD TO A DISPUTE. <br />
</div>