<div id="call_list-col">
	<div id="call_list-col-header">
		Support
	</div>
 <div style="margin-left:25px">
	<div class="content">
		<h3>Support Documents</h3>
		<table>
			<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
				<td><a target="_blank" href="http://www.halomonitoring.com/wp-content/uploads/files/myhalo-user-manual.pdf">User's Guide</a></td>
			</tr>
		</table>
		<br>
		<h3>Forms to be filled out before installation</h3>
		<table>
			<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
				<td><a href="/Halo_Subscriber_Agreement.pdf" target="_blank">Halo Subscriber Agreement</a></td>
			</tr>
			<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
				<td><a href="/Halo_User_Intake_Form.pdf" target="_blank">Halo User Intake Form</a></td>
			</tr>
			<tr><td><img src="/images/link_icon.jpg" width="30px" height="30px"></td>
				<td><a href="/user/user_intake_form">Halo User Intake Form</a></td>
			</tr>
		</table>
	</div>
  </div>
</div>
<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>