#call_list-col
{
	width:950px;
	background:url('/images/call_list-col-bg.gif') repeat-y;
	float:left;
}

#call_list-col-header
{
	background:url('/images/call_list-col-header.gif') no-repeat;
	
	height:45px;
	
	font-size:1.6em;
	color:#fff;
	
	padding-left:20px;
	padding-top:10px;
}

#call_list-col-footer
{
	background:url('/images/call_list-col-footer.gif') no-repeat;
	height:12px;
}