@charset "utf-8";
/* CSS Document */

body {
    font: 12px Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	
	margin:0;
}

img {
	border:0;
}

h3 a {
	font-size:10px;
	font-weight:normal;
}

.container
{
	width:950px;
	margin-left:auto;
	margin-right:auto;
}

.no-border { border: none; }

#call_list
{
	padding:0;
	margin:0;
	
	margin-left:10px;
}
#call_list li
{
	list-style-type:none;
}

.list_item
{
	
}

#user-info
{
	color:#fff;
	float:right;
	
	padding-top:10px;
	width:500px;
	text-align:right;
	
	height:28px;
}

#user-info a
{
	color:#fff;
}

#header
{
	background:url('/images/header-bg.gif') top left repeat-x;
	height:191px;
	
	margin-bottom:20px;
}

#footer
{
	text-align:center;
/*  clear:both;*/
	
/*  padding-top:20px;*/
}

#logo
{
	margin-top:73px;
	float:left;
}

#logo-2
{
	margin-top:55px;
	float:left;
}

#people
{
	float:right;
}

#main-col
{
	width:710px;
	background:#efefef url('/images/main-col-bg.gif') repeat-y;
	float:left;
}

#main-col-header
{
	background:url('/images/main-col-header.gif') no-repeat;
	
	height:45px;
	
	font-size:1.6em;
	color:#fff;
	
	padding-left:20px;
	padding-top:10px;
}

#secondary-col
{
	width:400px;
	
	margin-left:auto;
	margin-right:auto;
	
	background:url('/images/login-col-bg.gif') repeat-y;
}

#secondary-col-header
{
	background:url('/images/login-col-header.gif') no-repeat;
	height:11px;
}

#secondary-col-footer
{
	background:url('/images/login-col-footer.gif') no-repeat;
	height:11px;
}


#lightbox-col-700
{
	width:700px;
	margin-left: auto ;
	margin-right: auto ;
	
	

}

#lightbox-col-header-700
{
	background:url('/images/ightbox-col-header-700.gif') no-repeat;
	height:11px;
}

#lightbox-col-footer-700
{
	background:url('/images/lightbox-col-footer-700.gif') no-repeat;
	height:11px;
}

.lightbox-content-700
{
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	background:url('/images/lightbox-col-bg-700.gif') center repeat-y;
	font-size:14px;
}


#lightbox-col
{
	width:418px;
	
}

#lightbox-col-header
{
	background:url('/images/login-col-header.png') no-repeat;
	height:11px;
}

#lightbox-col-footer
{
	background:url('/images/login-col-footer.gif') no-repeat;
	height:11px;
}

.lightbox-content
{
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	background:url('/images/lightbox-col-bg.gif') center repeat-y;
	font-size:14px;
}


#user_signup-col
{
	width:950px;
	background:url('/images/call_list-col-bg.gif') repeat-y;
	float:left;
}

#user_signup-col-header
{
	background:url('/images/call_list-col-header.gif') no-repeat;
	
	height:45px;
	
	font-size:1.6em;
	color:#fff;
	
	padding-left:20px;
	padding-top:10px;
}

#user_signup-col-footer
{
	background:url('/images/call_list-col-footer.gif') no-repeat;
	height:12px;
}


#call_list-col
{
	width:950px;
	background:url('/images/call_list-col-bg.gif') repeat-y;
	float:left;
}

#call_list-col-header
{
	background:url('/images/call_list-col-header.gif') no-repeat;
	
	height:45px;
	
	font-size:1.6em;
	color:#fff;
	
	padding-left:20px;
	padding-top:10px;
}

#call_list-col-footer
{
	background:url('/images/call_list-col-footer.gif') no-repeat;
	height:12px;
}

.content
{
	padding:5px;
}

.big
{
	font-size:1.6em;
	color:#4691b1;
}

#slider-labels
{
	width:595px;
	float:right;
}

.slider-label, .slider-label-end
{
	float:left;
	width:127px;
	text-align:center;
}

.slider-label-end
{
	width:105px;
}

#main-col-footer
{
	background:url('/images/main-col-footer.gif') no-repeat;
	height:12px;
}

#right-col
{
	float:right;
	width:225px;
	
	margin-left:5px;
	background:url('/images/right-col-bg.gif') repeat-y;
}

#right-col-header
{
	background:url('/images/right-col-header.gif') no-repeat;
	height:11px;
}

#right-col-footer
{
	background:url('/images/right-col-footer.gif') no-repeat;
	height:11px;
}

.divider
{
	margin-left:20px;
	margin-right:20px;
	
	color:#585858;
}

.user
{
	color:#d6e94f;
	font-weight:bold;
}

.footer {
    font-size:91%;
    color: rgb(0, 0, 204);
}


.gtopbar {
    padding:1px 10px 1px 4px;
}

.gtopbar td.maincell {
    font-size:91%;
}

.on, .on:visited, .on:link {
    color:#0000CC;
}
.on:active {
    color:#F00000;
}

.overflow-hide {
    overflow:hidden;
}

.rf {
    float:left;
}

.rnsecs {

}
.rnsecs .sec {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #797979;
    border-right-color: #0000FF;
    border-bottom-color: #797979;
    border-left-color: #797979;
    border-top-width: 1px;
    border-right-width: 4px;
    border-bottom-width: 1px;
    border-left-width: 2px;
/*    height: 35px;*/
    background-color: #E9E9E9;

}

.rnsecs .sec a, .rnsecs .sec span {
    display:block;
    letter-spacing:-1px;
    text-decoration:none;
    width:15ex;
    height: 35px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;   
}

.rnsecs .sec a:hover, .rnsecs .sec span:hover {
    background:#FFFFFF none repeat scroll 0%;
    color:#505050;

    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #0000FF;
    
    border-right-style: none;
    border-right-width: 3px;
    border-right-color: #0000FF;
        
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #0000FF;
    
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #0000FF;
}

.rnsecs .sec .secln, .rnsecs .sec .secln:visited, .rnsecs .sec .secln:link, .rnsecs .sec .seclnact, .rnsecs .sec .seclnact:visited, .rnsecs .sec .seclnact:link {
    color:#333333;
    font-size:114%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .sec .secln:hover, .rnsecs .sec .seclnact:hover {
    text-decoration:underline;
}
.rnsecs .sec .seclnd {
    color:#7777CC;
    font-size:114%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .sec .seclnlt, .rnsecs .sec .seclnlt:visited, .rnsecs .sec .seclnlt:link {
    color:#333333;
}
.rnsecs .sec .seclnltd {
    color:#7777CC;
}
.rnsecs .selsec {
    background-color:white;
    left:0px;
    margin-left: 0px;
    margin-bottom:0px;
    margin-right:0px;
    position:relative;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: #0000FF;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #0000FF;
    border-right-color: #0000FF;
    border-bottom-color: #0000FF;
/*    padding: 5px;*/
/*    height: 35px;*/
    vertical-align:middle;    
}

.rnsecs .selsec a, .rnsecs .selsec span {
    display:block;
    letter-spacing:-1px;
    text-decoration:none;
    width:15ex;
    height: 35px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;   
}

.rnsecs .selsec .secln, .rnsecs .selsec .secln:visited, .rnsecs .selsec .secln:link {
    color:black;
    font-size:114%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .selsec .secln:hover {
    text-decoration:underline;
}
.rnsecs .selsec .seclnact, .rnsecs .selsec .seclnact:visited, .rnsecs .selsec .seclnact:link {
    color:#333333;
    font-size:114%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .selsec .seclnact:hover {
    text-decoration:underline;
}
.rnsecs .selsubsec {
    background-color:white;
    border-left:medium none;
    border-top:1px solid #D47F99;
    margin-left:-1px;
    padding:5px 5px 5px 26px;
    position:relative;
}
.rnsecs .selsubsecact {
    padding:2px 5px 2px 25px;
}
.rnsecs .selsec .subsecln, .rnsecs .selsec .subsecln:visited, .rnsecs .selsec .subsecln:link {
    color:black;
    font-size:114%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .selsec .subsecln:hover {
    text-decoration:underline;
}
.rnsecs .selsec .subseclnact, .rnsecs .selsec .subseclnact:visited, .rnsecs .selsec .subseclnact:link {
    color:#333333;
    font-size:114%;
    text-decoration:none;
}
.rnsecs .selsec .subseclnact:hover {
    text-decoration:underline;
}
.rnsecs .selsec .seclnd {
    font-size:114%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .selsec .seclnlt, .rnsecs .selsec .seclnlt:visited, .rnsecs .selsec .seclnlt:link {
    color:black;
    font-size:100%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .selsec .seclnlt:hover {
    text-decoration:underline;
}
.rnsecs .selsec .seclnlt {
    color:#7777CC;
    font-size:100%;
    font-weight:bold;
    text-decoration:none;
}
.rnsecs .selsec .seclnlt:hover {
    text-decoration:underline;
}

.rnsecs #add_page_box {
    font-size:95%;
    padding-bottom:3px;
    padding-top:8px;
}

.horizontalTabs {

}
.horizontalTabs .unselectedTab a, .horizontalTabs .unselectedTab span {
    display:block;
    letter-spacing:-1px;
    text-decoration:none;
/*    width:15ex;*/
    height: 46px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;   
}

.horizontalTabs .selectedTab a, .horizontalTabs .selectedTab span {
    display:block;
    letter-spacing:-1px;
    text-decoration:none;
/*    width:15ex;*/
    height: 42px;
/*    padding-top: 5px;*/
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;   
    margin-top: 0px;
/*    horizontal-align: middle;*/
}

.horizontalTabs .unselectedTab a:hover, .horizontalTabs .unselectedTab span:hover {
    background:#FFFFFF none repeat scroll 0%;
    color:#505050;
    padding-top: 4px;
/*    margin-left: -4px;*/
/*    margin-bottom: 0px; */
    height:50px;
/*    width: 120px;*/
/*    font-size: 114%;*/
/*    padding-top: 4px;*/
/*    float: left;*/

    border-right-style:solid;
    border-right-width: 3px;
    border-right-color: #0000FF;

    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #0000FF;
    
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #0000FF;
    
    border-bottom-style: none;
    border-bottom-width: 3px;
    border-bottom-color: #FFFFFF;
}

.selectedTab {
    height:48px;
    width: 120px;
    float: left;
    background-color: #FFFFFF;
    font-size: 114%;
/*    padding-top: 4px;*/
    margin-left: -4px;
    margin-bottom: 0px;
        
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #0000FF;
    
    border-right-style:solid;
    border-right-color: #0000FF;
    border-right-width: 4px;

    border-top-style: solid;    
    border-top-color: #0000FF;
    border-top-width: 4px;
    
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 4px;        
}

.horizontalTabs .unselectedTab {
    height: 50px;
    width: 120px;
    float: left;
/*    padding-top: 4px;*/
    font-size: 114%;
    background-color: #E9E9E9;
    
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #797979;

    border-right-style:solid;
    border-right-width: 1px;    
    border-right-color: #797979;
    
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #797979;

    border-bottom-style: solid;
    border-bottom-width: 4px;    
    border-bottom-color: #0000FF;
}

.paddingLeftTab {
    border-right-width: 3px;
    height:47px;
    width: 15px;
    border-right-color: #F0F0F0;
    float: left;
    border-bottom-style: solid;
    border-bottom-color: #0000FF;
    border-bottom-width: 4px;
    padding-top: 5px;
    font-size: 114%;
    border-right-style: none;
}

.paddingTab {
    border-right-width: 3px;
    height:47px;
    width: 344px;
    border-right-color: #F0F0F0;
    float: left;
    border-bottom-style: solid;
    border-bottom-color: #0000FF;
    border-bottom-width: 4px;
    padding-top: 5px;
    font-size: 114%;
    border-right-style: none;
}

.chartBody {
    background-color: #FFFFFF;
    clear:left;
    width:700px;
    height:600px;
    position:relative;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;
}

.secblankbottom {
    border-right-style: solid; 
    border-right-width: 4px; 
    border-right-color: #0000FF; 
    height: 331px; 
    border-top-style: solid; 
    border-top-width: 1px; 
    border-top-color: #999999;
}

.secblanktop {
    border-right-style: solid; 
    border-right-width: 4px; 
    border-right-color: #0000FF; 
    height: 25px; 
    margin-top: 6px;   
}

#loading {
    color: #974B00;
    font-weight: bold;
}

.pie-label
{
	width:10px;
	height:10px;
	
	float:left;
	
	margin-top:2px;
	margin-right:5px;
	
	clear:both;
}

img
{
	border:0;
}

#response
{
	display:none;
}

ul.removed_caregivers 
{
	padding:0;
}

ul.removed_caregivers li
{
	list-style:none;
	height:41px;
	
	background:url('/images/call_list-item-small.gif') no-repeat;
	
	padding-top:12px;
	padding-left:10px;
}

ul.removed_caregivers li a
{
	color:#4691b1;
	font-weight:bold;
	
	text-decoration:none;
}

#position_label
{
	font-size:3em;
}
.signup_detail_fields{
	float:left;
	width:250px;
	font:bold;
}
#my_links {padding: 0; margin: 0; float:right; }
#my_links li {list-style-type: none;position: relative; margin: 0; padding: 0;}
#my_links ul {display: none;background:black;padding:5px;text-align:left;}
#my_links li:hover > ul {display: block; position: absolute; top: -1px; float:left; left:100%; margin-left:-55px;margin-top:15px;}
#my_links li a {display: block;text-decoration:none}
#my_links li a:hover{font-weight:bold}

#logout a{text-decoration:none;}
#logout a:hover{font-weight:bold};

label {
  font-weight: bold;
}
.altrow {
  background-color: #EDEDED;
}
.box {
  display: block;
  padding: 10px;
  border: 1px solid #CCC;
}

/*user css3buttons instead*/
/*.button {
  font: normal normal bold 1.5em Arial, sans-serif;
  text-decoration: none;
  background-color: #BAD55E;
  border: 1px solid #000;
  color: #000;
  padding: 3px 5px 2px 5px;
}
*/
.confirm-form input, .confirm-form textarea, .confirm-form select {
  border-color: transparent;
  background-color: transparent;
  font-weight: bold;
  color: #000;
  font-size: 100%;
}
.hint {
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
.largebutton, .confirm-form .largebutton {
  font: 200% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background-color: #008040;
  color: #FFF;
  border: 2px solid #333;
  
}
a.largebutton {
 text-decoration: none; 
 padding: 1px 10px;
}
.outlined { border: 1px solid #00F;}
.textright { text-align: right; }
.textcenter { text-align: center; }

.shaded {
  background-color: #E6E6E6;
}
.tiny {
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  color: #808080;
}
.back-green {
  background-color: #A2FF37;
}
.back-grey, .back-gray {
  background-color: #CCC;
}
.back-orange {
  background-color: #FFB237;
}
.color-red {
  color: #F00;
  font-weight: bold;
}

/*form validation using javascript*/
input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

/*input.required, textarea.required {
  border: 2px solid #00A8E6;
}
*/
input.validation-failed, textarea.validation-failed {
	border: 2px solid #FF3300;
	color : #FF3300;
}
/*input.validation-passed, textarea.validation-passed {
  border: 2px solid #00CC00;
  color : #000;
}
*/
.validation-advice {
	margin: 5px 0;
/*  padding: 2px;*/
	color: #FF3300;
/*  color : #FFF;*/
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
/*  padding: 5px;*/
	color: #C8AA00;
/*  color : #FFF;*/
	font-weight: bold;
}

.error {
  color: #F00;
}
.fieldWithErrors {
  color: #F00;
  display: inline;
}
.fieldWithErrors input {
  background-color: #FFCDC5;
}

.red { color: #C80000; }
.warning {
  display: block;
  border: 1px solid #000;
  padding: 5px 10px;
  background-color: #F00;
  color: #FFF; 
  font-weight: bold;
  }
.error-field {
  color: #C80000;
}
