/*
  Custom styles that are missing in blueprint
*/
a { text-decoration: none; border-bottom: 1px dotted #30A8C3; }
a:hover { background-color: #30A8C3; color: #FFF; }

.empty-box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #FEFEFE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.grey-box { background:url('/images/call_list-col-bg.gif') repeat-y; }
.grey-box-header {
  background:url('/images/call_list-col-header.gif') no-repeat;
  height:45px;
  font-size:1.6em;
  color:#fff;
  padding: 10px 0 0 20px;
}
.grey-box-footer {
  background:url('/images/call_list-col-footer.gif') no-repeat;
  height:12px;
}

.hidden { display: none;}
.menu a { text-decoration: none; }
.textright {text-align: right;}
.textleft {text-align: left;}
.textcenter {text-align: center;}
.textjustify {text-align: justify;}

.theme-header {
  background: url('../../images/call_list-col-header.gif') no-repeat scroll top left;
  font-size: 1.6em;
  color: #fff;
}
.theme-body {
  background: url("../../images/call_list-col-bg.gif") repeat-y;
}
.theme-body p { margin-bottom: .5em; }
.theme-footer {
  background: url("../../images/call_list-col-footer.gif") no-repeat;
  height: 12px;
}
