@charset "utf-8";
/* CSS Document */


.hide {
display:none;
}
.nohide {
display:block;
}
.nohide-inline {
display:inline;
}
.hide_ie {
}
img {
border:0pt none;
}
img {
border-color:#0000A0;
}
input.ck {
margin-left:-2px;
}
input.bt, button.bt {
overflow:visible;
padding:0pt 0.4em;
width:auto;
}
.fixed_width {
font-family:fixed-width,monospace;
font-size:90%;
}
a:link, .w, a.w:link, .w a:link {
color:#0000CC;
}
a:visited {
color:#551A8B;
}
a:active {
color:#FF0000;
}
.inheritcolor a {
color:inherit;
}
.admin a {
color:red;
}
.admin span {
color:red;
}
.minmaxwie {
max-width:500px;
min-width:260px;
width:100%;
}
* html .minmaxwie {
}
.f, .f:link, .f a:link {
color:#6F6F6F;
}
.fl:visited {
color:#551A8B;
}
.fl:active {
color:#FF0000;
}
.fl:link {
color:#7777CC;
}
.z {
display:none;
}
.on, .on:visited, .on:link {
color:#0000CC;
}
.on:active {
color:#F00000;
}
.don, .don:visited, .don:link {
color:#0000BB;
}
.don:active {
color:#F00000;
}
.q a:visited, .q a:link, .q a:active, .q {
color:#0000CC;
}
.qo a:visited, .qo a:link, .qo a:active, .qo {
color:#0000CC;
}
.mbody {
margin-top:4px;
}
body, td, input, textarea, select {
	font-family:"Trebuchet MS", geneva, sans-serif;
	;
}
body {
	font-size:125%;
	height: 200px;
	background-color: #D7EAFD;
}
table {
	font-size:inherit;
	position: relative;
}
input, textarea, select {
font-size:100%;
}
form {
margin:0pt;
}
.tick {
font-family:webdings;
text-decoration:none !important;
}
.qr {
font-family:arial,sans-serif;
padding:4px;
width:100%;
}
.nu {
text-decoration:none;
}
.ohu:hover {
text-decoration:underline;
}
.gt {
border-collapse:collapse;
}
.gt td {
border-right:1px solid #AA0033;
padding:0.3em 4px;
}
.gm td {
padding:0.3em 1em 0.3em 0px;
}
.bnk {
border:1px solid #AA0033;
}
.bnk td {
border-right-width:0px !important;
}
.sel td.seltd {
border-color:#AA0033 -moz-use-text-color rgb(170, 0, 51) rgb(170, 0, 51);
border-style:solid none solid solid;
border-width:1px medium 1px 1px;
font-weight:bold;
padding:4px;
}
.al, .al:link, .al:active, .al:visited {
color:#990066;
}
.dal, .dal:link, .dal:active, .dal:visited {
color:#880059;
}
.blk, .blk:link, .blk:active, .blk:visited, .blk:focus, .tlc a {
color:#000000;
outline-color:invert;
outline-style:none;
outline-width:0pt;
text-decoration:none;
}
.ucl, .ucl:link, .ucl:active, .ucl:visited {
color:#7777CC;
}
.gl, .gl:link, .gl:active, .gl:visited {
color:#008000;
}
.groupname:link, .groupname:visited, .groupname:active, .groupname:hover {
color:#008000;
}
p.b {
margin-bottom:1.5em;
margin-top:0.3em;
}
.adb, .adbrnav {
border-left:1px solid #D6D6D6;
}
.msgdate {
color:#676767;
}
.md {
color:#555555;
}
.st {
margin-left:-1px;
}
.nb {
white-space:nowrap;
}
.np {
padding:0px;
}
.p {
font-weight:bold;
}
.mo {
margin:0.5em 0pt 0pt;
}
.oa {
padding:2px 0.5em;
}
.sbox {
margin-bottom:1em;
margin-top:1em;
}
button a:link {
color:black;
text-decoration:none;
}
button a:hover {
color:black;
text-decoration:none;
}
.b {
font-weight:bold;
}
.fontsize0 {
font-size:78%;
}
.fontsize1 {
font-size:83%;
}
.fontsize2 {
font-size:91%;
}
.fontsize_25 {
font-size:100%;
}
.fontsize3 {
font-size:106%;
}
.fontsize4 {
font-size:114%;
}
.fontsize5 {
font-size:129%;
}
.fontsize6 {
font-size:150%;
}
.fontsize7 {
font-size:189%;
}
.cv {
width:100%;
}
.lk {
color:#0000CC;
cursor:pointer;
text-decoration:underline;
}
.nl {
padding:5px 0pt 2px 5px;
}
.tsh {
border-top:1px solid #AA0033;
}
.tlsh {
border-top:1px solid #AA0033;
}
.blsh {
border-bottom:1px solid #AA0033;
}
.bsh {
border-bottom:1px solid #AA0033;
}
.lsh, .tlsh, .blsh {
border-left:1px solid #AA0033;
}
.lnav {
left:9px;
overflow:hidden;
width:23ex;
}
.lnav { position: absolute; } 
.lnavch {
}
.lnavch { margin-left:23.0ex;}
.lnavi {
font-size:100%;
}
.lnavim {
margin-left:-2px;
}
* html .lnav {
left:11px;
}
.alertboxout {
clear:left;
margin:5px 15px 0px 10px;
}
.alertboxin {
background-color:#D9D9D9;
clear:left;
color:black;
font-weight:bold;
margin:-1px 0px;
padding:0px 15px;
position:relative;
text-align:center;
}
.vamdl {
vertical-align:middle;
}
.errbnr {
background-color:#FFFFCC;
border:2px solid #FAD163;
margin:5px 15px 15px;
max-width:650px;
padding:7px 10px;
text-align:center;
}
.thread_star {
padding:0pt 0pt 4px;
}
* html .thread_star {
padding:0pt;
}
.blurb_star {
padding:0pt 0pt 0pt 2px;
}
* html .blurb_star {
padding:2px 0pt 0pt 2px;
}
.msg #ftr_sep {
background:#EEEEEE none repeat scroll 0% 50%;
}
.msg .exh {
background:#EEEEEE none repeat scroll 0% 50%;
margin:0pt 16px;
padding:2px;
}
.sel_cb_t {
background:#C3D9FF none repeat scroll 0% 50%;
}
.msg .l {
color:#0000CC;
cursor:pointer;
white-space:nowrap;
}
.msg .lc, .msg .lc:visited, .msg .lc:active, .msg .lc:link .msg .lc:focus {
color:#0000CC;
outline-color:invert;
outline-style:none;
outline-width:0pt;
}
.msg .h {
cursor:pointer;
}
.msg {
display:block;
}
.msg_meta {
width:100%;
}
.msg_meta td {
white-space:nowrap;
}
.msg .rc {
table-layout:fixed;
width:100%;
}
.msg .rc div {
overflow:hidden;
white-space:nowrap;
}
.msg .author {
font-weight:bold;
}
.msg .mb {
padding:6px 8px 0px 14px;
}
.msg .mb .fixed_width {
font-family:fixed-width,monospace;
font-size:100%;
}
.msg .cg {
background:#EEEEEE none repeat scroll 0%;
}
.msg .cf {
background:#C3D9FF none repeat scroll 0%;
}
.msg .cb2 #cft, .msg .cb2 #cfb {
display:none;
}
.msg .ci {
background:#E0ECFF none repeat scroll 0%;
}
.msg .ctb {
height:100%;
}
.msg .cpb2 .mchc {
font-size:91%;
}
.msg .cd {
padding:4px 5px 2px 10px;
}
.msg .cd button {
font-size:80%;
text-align:center;
}
.msg .sm {
background-color:#C3D9FF;
border-color:#E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
border-style:solid;
border-width:2px;
display:none;
font-family:arial,sans-serif;
margin:2px 0px;
position:absolute;
z-index:1;
}
.tl {
background:transparent url(/groups/img/corner_tleft.gif) repeat scroll left top;
}
.bl {
background:transparent url(/groups/img/corner_bleft.gif) repeat scroll left bottom;
}
.tr {
background:transparent url(/groups/img/corner_tright.gif) repeat scroll right top;
}
.br {
background:transparent url(/groups/img/corner_bright.gif) repeat scroll right bottom;
}
.tl, .bl, .tr, .br, .gtl, .gbl {
background-repeat:no-repeat;
padding-left:4px;
width:4px;
}
.ctop {
background:transparent url(/groups/img/card_top.gif) repeat-x scroll center top;
padding:1px;
width:100%;
}
.ctopd {
background:transparent url(/groups/img/card_top_dark.gif) repeat-x scroll center top;
padding:1px;
width:100%;
}
.ctl {
background:transparent url(/groups/img/card_tleft.gif) repeat scroll left top;
}
.ctld {
background:transparent url(/groups/img/card_tleft_dark.gif) repeat scroll left top;
}
.cttl {
background:transparent url(/groups/img/card_ttleft.gif) repeat scroll left top;
}
.ctr {
background:transparent url(/groups/img/card_ttright2.gif) repeat scroll right top;
}
.str {
background:transparent url(/groups/img/card_ttright2.gif) repeat scroll right top;
}
.strdd {
background:transparent url(/groups/img/card_ttright2_dark_on_dark.gif) repeat scroll right top;
}
.strdw {
background:transparent url(/groups/img/card_ttright2_dark_on_white.gif) repeat scroll right top;
}
.strwd {
background:transparent url(/groups/img/card_ttright2_white_on_dark.gif) repeat scroll right top;
}
.stl {
background:transparent url(/groups/img/card_stleft.gif) repeat scroll left top;
}
.stldd {
background:transparent url(/groups/img/card_stleft_dark_on_dark.gif) repeat scroll left top;
}
.stldw {
background:transparent url(/groups/img/card_stleft_dark_on_white.gif) repeat scroll left top;
}
.stlwd {
background:transparent url(/groups/img/card_stleft_white_on_dark.gif) repeat scroll left top;
}
.stlwd, .stldd, .strwd, .strdd {
background-color:#EEEEEE;
}
.sbl {
background:transparent url(/groups/img/card_sbleft.gif) repeat scroll left bottom;
}
.cbot {
background-image:url(/groups/img/card_bot.gif);
background-position:center bottom;
background-repeat:repeat-x;
padding:1px;
width:100%;
}
.cbl {
background-image:url(/groups/img/card_bleft.gif);
background-position:left bottom;
}
.cbr {
background-image:url(/groups/img/card_bright2.gif);
background-position:right bottom;
}
.msg .cb {
background-image:url(/groups/img/card_left.gif);
background-position:left center;
background-repeat:repeat-y;
border-right:1px solid #E8E8E8;
}
.msg .cb2 {
background-image:url(/groups/img/card_left2.gif);
background-position:left center;
background-repeat:repeat-y;
border-right:1px solid #E8E8E8;
}
.ctl, .ctld, .cttl, .ctr, .str, .strdd, .strdw, .strwd, .stl, .stldd, .stldw, .stlwd, .cbl, .cbr, .sbl {
background-repeat:no-repeat;
}
.ctl, .ctld, .cttl, .cbl, .stl, .stldd, .stldw, .stlwd, .sbl, .pd10 {
padding:0pt 10px 0pt 0pt;
}
.ctr, .str, .strdd, .strdw, .strwd, .cbr, .pd9 {
padding:0pt 9px 0pt 0pt;
}
.pd8 {
padding:0pt 8px 0pt 0pt;
}
.msg .phd {
padding:6px 30px 5px;
text-align:center;
}
.msg .ph {
padding:3px 6px;
}
.msg .pokh {
font-size:91%;
font-weight:bold;
padding:0px 12px;
}
* html .stimg {
padding:1px 0px 4px;
}
.adbrnav {
border:0pt none;
}
.ghgrn {
	color:#000000;
	font-size:130%;
	font-weight:bold;
}
.ghgrn .ln, .ghgrn .ln:visited, .ghgrn .ln:active, .ghgrn .ln:link {
color:#000000;
text-decoration:none;
}
.ghgrn .ln:hover {
text-decoration:underline;
}
.ghgrn .uln, .ghgrn .uln:visited, .ghgrn .uln:active, .ghgrn .uln:link {
color:blue;
}
.rnsecs {





}
.rnsecs .sec {
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #999999;
	border-right-color: #0066ff;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-right-width: 3px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	height: 35px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.rnsecs .sec .secln, .rnsecs .sec .secln:visited, .rnsecs .sec .secln:link, .rnsecs .sec .seclnact, .rnsecs .sec .seclnact:visited, .rnsecs .sec .seclnact:link {
color:#333333;
font-size:114%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .sec .secln:hover, .rnsecs .sec .seclnact:hover {
	text-decoration:underline;
}
.rnsecs .sec .seclnd {
color:#7777CC;
font-size:114%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .sec .seclnlt, .rnsecs .sec .seclnlt:visited, .rnsecs .sec .seclnlt:link {
color:#333333;
}
.rnsecs .sec .seclnltd {
color:#7777CC;
}
.rnsecs .selsec {
	background-color:white;
	left:0px;
	margin-bottom:0px;
	margin-right:0px;
	position:relative;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0066FF;
	border-right-color: #0066FF;
	border-bottom-color: #0066FF;
	padding: 5px;
	border-left-color: #0000FF;
	height: 35px;
	vertical-align: middle;
	margin-left: 0px;
}
.rnsecs .selsec .secln, .rnsecs .selsec .secln:visited, .rnsecs .selsec .secln:link {
color:black;
font-size:114%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .selsec .secln:hover {
text-decoration:underline;
}
.rnsecs .selsec .seclnact, .rnsecs .selsec .seclnact:visited, .rnsecs .selsec .seclnact:link {
color:#333333;
font-size:114%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .selsec .seclnact:hover {
text-decoration:underline;
}
.rnsecs .selsubsec {
background-color:white;
border-left:medium none;
border-top:1px solid #D47F99;
margin-left:-1px;
padding:5px 5px 5px 26px;
position:relative;
}
.rnsecs .selsubsecact {
padding:2px 5px 2px 25px;
}
.rnsecs .selsec .subsecln, .rnsecs .selsec .subsecln:visited, .rnsecs .selsec .subsecln:link {
color:black;
font-size:114%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .selsec .subsecln:hover {
text-decoration:underline;
}
.rnsecs .selsec .subseclnact, .rnsecs .selsec .subseclnact:visited, .rnsecs .selsec .subseclnact:link {
color:#333333;
font-size:114%;
text-decoration:none;
}
.rnsecs .selsec .subseclnact:hover {
text-decoration:underline;
}
.rnsecs .selsec .seclnd {
font-size:114%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .selsec .seclnlt, .rnsecs .selsec .seclnlt:visited, .rnsecs .selsec .seclnlt:link {
color:black;
font-size:100%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .selsec .seclnlt:hover {
text-decoration:underline;
}
.rnsecs .selsec .seclnlt {
color:#7777CC;
font-size:100%;
font-weight:bold;
text-decoration:none;
}
.rnsecs .selsec .seclnlt:hover {
text-decoration:underline;
}
.rnsecs .actlns {
font-size:91%;
padding-bottom:3px;
padding-top:2px;
}
.rnsecs .actlns, .rnsecs .sublevel {
padding-left:10px;
}
.rnsecs #add_page_box {
font-size:95%;
padding-bottom:3px;
padding-top:8px;
}
.rnimc {
padding-left:10px;
padding-top:5px;
}
.maincontheaderbox {
padding:10px 10px 0px;
}
.maincontheaderboxatt {
padding:0px 10px;
}
.maincontbox {
padding:10px 20px;
}
.maincontboxhead {
padding:10px 20px 0px;
}
.maincontboxfoot {
padding:0px 20px 10px;
}
.maincontboxatt {
padding:0px 20px;
}
.maincontoutboxatt {
padding:0px 20px 0px 10px;
}
.modtab td {
color:#333333;
padding-bottom:4px;
padding-top:0px;
}
.secttlbarwrap {
width:100%;
}
.secttlbar {
background-color:#AA0033;
padding:0px 10px;
}
.secttlbar .secttl {
background-color:inherit;
color:#FFFFFF;
font-family:Trebuchet MS,arial,helvetica,sans-serif;
font-size:129%;
font-weight:bold;
}
.secttlbar .secttl .ln, .secttlbar .secttl .ln:visited, .secttlbar .secttl .ln:active, .secttlbar .secttl .ln:link {
color:#FFFFFF;
text-decoration:none;
}
.secttlbar .secttl .ln:hover {
text-decoration:underline;
}
.secttlbar .secmsg {
color:#FFFFFF;
font-size:114%;
}
.secttlbar .frtxt, .secttlbar .frtxt a, .secttlbar .frtxt a:visited, .secttlbar .frtxt a:active {
color:#FFFFFF;
}
.secttlbaroptpane {
background-color:#D9D9D9;
border-top:3px solid #AA0033;
padding:6px 6px 6px 10px;
}
.gtopbar {
	padding:1px 10px 1px 4px;
	background-color: #D7EAFD;
}
.gtopbar td.maincell {
font-size:91%;
}
.topbar {
padding:0px 0px 4px 4px;
}
.topbar td.maincell {
font-size:100%;
}
.hspace5 {
display:inline;
padding-left:5px;
}
.hspace {
display:inline;
padding-left:10px;
}
.vspace {
padding-top:10px;
}
img.icon32 {
height:32px;
width:32px;
}
img.icon24 {
height:24px;
width:24px;
}
img.bigicon {
height:50px;
width:50px;
}
.hsep {
border-bottom:1px solid #AA0033;
margin-bottom:3px;
margin-top:3px;
}
.grdk {
color:#707070;
}
.grlt {
color:#999999;
}
.grltl, .grltl:link, .grltl:active, .grltl:visited {
color:#7777CC;
}
.uit {
color:#707070;
font-size:91%;
}
.uitl, .uitl:link, .uitl:active, .uitl:visited {
color:#7777CC;
font-size:91%;
}
.msghk, .msghv {
color:#555555;
font-size:106%;
}
.msghk {
font-weight:normal;
}
.msghv a, .msghv a:link, .msghv a:active, .msghv a:visited {
color:#7777CC;
}
.tr_pseudo-link {
color:#0000CC;
cursor:pointer;
text-decoration:underline;
}
.thrdisp_hdr {
background-color:#C3D9FF;
padding:4px;
}
.commentsdisp {
padding-top:5px;
}
.ac-renderer {
background:#E0ECFF none repeat scroll 0%;
border:1px solid #666666;
color:#0000CC;
margin:0px;
padding:0px 0px 1px;
position:absolute;
z-index:10;
}
.ac-renderer div {
cursor:pointer;
margin:2px;
padding:0px 10px;
}
.ac-renderer div b {
color:#0000FF;
}
.ac-renderer div.active {
background:#C3D9FF none repeat scroll 0%;
}
.algnl {
text-align:left;
}
.algnr {
text-align:right;
}
.overflow-hide {
overflow:hidden;
}
.nowrap {
white-space:nowrap;
}
.wdthauto {
width:auto;
}
.wdth100 {
width:100%;
}
.wdth0 {
width:0pt;
}
.hghtauto {
height:auto;
}
.hght100 {
height:100%;
}
.hght0 {
height:0pt;
}
.lf {
float:left;
}
.rf {
	float:left;
}
.clear {
	clear:right;
}
.padall0 {
padding:0pt;
}
.mrgall0 {
margin:0pt;
}
.padall1 {
padding:1px;
}
.mrgall1 {
margin:1px;
}
.padall2 {
padding:2px;
}
.mrgall2 {
margin:2px;
}
.padall3 {
padding:3px;
}
.mrgall3 {
margin:3px;
}
.padall4 {
padding:4px;
}
.mrgall4 {
margin:4px;
}
.padall5 {
padding:5px;
}
.mrgall5 {
margin:5px;
}
.padall6 {
padding:6px;
}
.mrgall6 {
margin:6px;
}
.padall7 {
padding:7px;
}
.mrgall7 {
margin:7px;
}
.padall8 {
padding:8px;
}
.mrgall8 {
margin:8px;
}
.padall9 {
padding:9px;
}
.mrgall9 {
margin:9px;
}
.padall10 {
padding:10px;
}
.mrgall10 {
margin:10px;
}
.padt1ex {
padding-top:1ex;
}
.padt0 {
padding-top:0pt;
}
.mrgt0 {
margin-top:0pt;
}
.padt1 {
padding-top:1px;
}
.mrgt1 {
margin-top:1px;
}
.padt2 {
padding-top:2px;
}
.mrgt2 {
margin-top:2px;
}
.padt3 {
padding-top:3px;
}
.mrgt3 {
margin-top:3px;
}
.padt4 {
padding-top:4px;
}
.mrgt4 {
margin-top:4px;
}
.padt5 {
padding-top:5px;
}
.mrgt5 {
margin-top:5px;
}
.padt6 {
padding-top:6px;
}
.mrgt6 {
margin-top:6px;
}
.padt7 {
padding-top:7px;
}
.mrgt7 {
margin-top:7px;
}
.padt8 {
padding-top:8px;
}
.mrgt8 {
margin-top:8px;
}
.padt9 {
padding-top:9px;
}
.mrgt9 {
margin-top:9px;
}
.padt10 {
padding-top:10px;
}
.mrgt10 {
margin-top:10px;
}
.padb1ex {
padding-bottom:1ex;
}
.padb0 {
padding-bottom:0pt;
}
.mrgb0 {
margin-bottom:0pt;
}
.padb1 {
padding-bottom:1px;
}
.mrgb1 {
margin-bottom:1px;
}
.padb2 {
padding-bottom:2px;
}
.mrgb2 {
margin-bottom:2px;
}
.padb3 {
padding-bottom:3px;
}
.mrgb3 {
margin-bottom:3px;
}
.padb4 {
padding-bottom:4px;
}
.mrgb4 {
margin-bottom:4px;
}
.padb5 {
padding-bottom:5px;
}
.mrgb5 {
margin-bottom:5px;
}
.padb6 {
padding-bottom:6px;
}
.mrgb6 {
margin-bottom:6px;
}
.padb7 {
padding-bottom:7px;
}
.mrgb7 {
margin-bottom:7px;
}
.padb8 {
padding-bottom:8px;
}
.mrgb8 {
margin-bottom:8px;
}
.padb9 {
padding-bottom:9px;
}
.mrgb9 {
margin-bottom:9px;
}
.padb10 {
padding-bottom:10px;
}
.mrgb10 {
margin-bottom:10px;
}
.padl1ex {
padding-left:1ex;
}
.padl0 {
padding-left:0pt;
}
.mrgl0 {
margin-left:0pt;
}
.padl1 {
padding-left:1px;
}
.mrgl1 {

}
.padl2 {
padding-left:2px;
}
.mrgl2 {
margin-left:2px;
}
.padl3 {
padding-left:3px;
}
.mrgl3 {
margin-left:3px;
}
.padl4 {
padding-left:4px;
}
.mrgl4 {
margin-left:4px;
}
.padl5 {
padding-left:5px;
}
.mrgl5 {
margin-left:5px;
}
.padl6 {
padding-left:6px;
}
.mrgl6 {
margin-left:6px;
}
.padl7 {
padding-left:7px;
}
.mrgl7 {
margin-left:7px;
}
.padl8 {
padding-left:8px;
}
.mrgl8 {
margin-left:8px;
}
.padl9 {
padding-left:9px;
}
.mrgl9 {
margin-left:9px;
}
.padl10 {
padding-left:10px;
}
.mrgl10 {
margin-left:10px;
}
.padr1ex {
padding-right:1ex;
}
.padr0 {
padding-right:0pt;
}
.mrgr0 {
margin-right:0pt;
}
.padr1 {
padding-right:1px;
}
.mrgr1 {
margin-right:1px;
}
.padr2 {
padding-right:2px;
}
.mrgr2 {
margin-right:2px;
}
.padr3 {
padding-right:3px;
}
.mrgr3 {
margin-right:3px;
}
.padr4 {
padding-right:4px;	
}
.mrgr4 {
margin-right:4px;
}
.padr5 {
padding-right:5px;
}
.mrgr5 {
margin-right:5px;
}
.padr6 {
padding-right:6px;
}
.mrgr6 {
margin-right:6px;
}
.padr7 {
padding-right:7px;
}
.mrgr7 {
margin-right:7px;
}
.padr8 {
padding-right:8px;
}
.mrgr8 {
margin-right:8px;
}
.padr9 {
padding-right:9px;
}
.mrgr9 {
margin-right:9px;
}
.padr10 {
	padding-left: 20px;
}
.mrgr10 {
margin-right:10px;
}

.grhdr{
background-color:
#D7EAFD
}

.scripthide { display: none; } .scriptinline { display: inline; } .scriptblock { display: block; }.script12hide { display: none; } .script12inline { display: inline; } .script12block { display: block; } .script13hide { display: none; } .script13inline { display: inline; } .script13block { display: block; }    .mygp1 { padding-bottom: 7px;}
    .mygp2 { padding-bottom: 7px; padding-left: 12px}
.sshdr {
  padding: 0px 10px 0px 10px;
}
.sshdr table.sshdrt {
  margin-top: -1px;
  margin-bottom: -3px;
}
.sshdrtxt {
  font-size : 114%;
}
.sshdrtxtsm {
  font-size : 106%;
}
.ssabln,
.ssabln:active,
.ssabln:link,
.ssabln:visited {
  text-decoration: none;
  color: #000
}
.ssabln:hover {
  text-decoration: underline;
}
.ssabhln,
.ssabhln:active,
.ssabhln:link,
.ssabhln:visited {
  text-decoration: none;
  color: #00c
}
.ssabhln:hover {
  text-decoration: underline;
}
.ssibln,
.ssibln:active,
.ssibln:link,
.ssibln:visited {
  text-decoration: none;
  color: #00c;
}
.ssibln:hover {
  text-decoration: underline;
}
.modtxtidt {
  padding: 0px 10px 0px 40px;
}
.modtxtidt-20 {
  padding: 0px 10px 0px 24px;
}
        #moduleGroupInfo td {
          font-size: 91%;
        }

#moduleGroupInfo .moduleSMALL cat {
  font-size: 0%;
  padding-right:7px;
}

#moduleMembersListModule1 .moduleSMALL td {
  font-size: 70%;
}

.mmlmc {
  padding-right : 20px;
  padding-top : 10px;
  overflow : hidden;
  white-space : nowrap;
  
    max-width: 200px;
    display : inline;
  
}

* html .mmlmc {
  width : 180px;
}

.mmlimg {
  padding-right : 5px;
}
  .noscripthide { display:none; } .noscriptinline { display:inline; } .noscriptblock { display:block; }
