*{ margin:0px; padding:0px; outline:none; font-family:Arial, Helvetica, sans-serif !important;}
p{ color:#000000; font-size:13px; font-family:Arial, Helvetica, sans-serif !important;}
p span.shift-lft{ padding-left:15px;}
a{ text-decoration:none; font:Arial, Helvetica, sans-serif !important; font-size:14px !important;}
.clear{ clear:both;}
.lft{ float:left; font:Arial, Helvetica, sans-serif !important; font-size:15px !important; padding:0px; margin:0px;}
.gap5lft{ padding-left:5px;}

.small-link{ text-decoration:underline; font-size:12px !important;} 
.mov-up{ margin-top:-5px;}



.spc8{ width:100%; height:9px; float:left;}
.spc28{ width:100%; height:11px; float:left;}
 #box-hide{position:absolute; z-index:9999; width:287px; height:100px; background:url(../images/hide_.png) repeat; visibility:visible; margin-left:-287px; padding-top:47px;}





.lightbox-wrapper{ width:365px; height:260px; margin: 0 auto; margin-top:200px;}
.lightbox-wrapper .top-line{ width:365px; height:8px; background:#777643;}
.lightbox-wrapper .top-line .top-rt{ width:9px; height:8px; background:#777643 url(../images/rt-top.gif) top right; float:right;}

.lightbox-wrapper .mid-rep{ width:305px; height:auto; overflow:hidden; border-left:#777643 solid 10px; border-right:#777643 solid 10px;
padding:7px 20px 7px 20px;}

.lightbox-wrapper .mid-rep .box-ar{ width:287px; height:auto; overflow:hidden; padding-left:10px; padding-right:10px; float:left; padding-bottom:3px;}
.lightbox-wrapper .mid-rep .box-ar .box-text{ width:100%; margin: 0 auto; border:#000000 solid 1px; height:147px; margin:0px; padding:0px;  }
.lightbox-wrapper .mid-rep .box-ar .box-text p{ padding-left:15px; padding-top:5px; text-align:left; padding-bottom:20px;}


.lightbox-wrapper .bot-line{ width:365px; height:8px; background:#777643;}
.lightbox-wrapper .bot-line .bot-rt{ width:9px; height:8px; background:#777643 url(../images/rt-bot.gif) top right; float:right;}


 

/*Checkbox*/
.checkbox {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background:url(../images/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}


 
	/* Round Corners Button */
 
.button{ border: #000000 solid 0px; margin:0px; padding:0px; float:left; }
.button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	border:#000000 solid 0px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left:-20px;
 
		
}

 
.button li a {
	background:transparent url(../images/buttonleft_ro.jpg)  20px 1px no-repeat ;
	color:#fff;
	padding:1px 0 7px 40px; 
}

.button li a span {
	background:transparent url(../images/buttonright_ro.jpg) right top  no-repeat; 
	color:#fff;
	padding:1px 35px 7px 10px; 
}


/*strip page start*/

.head-wrapper{ float:left; width:948px; height:40px;}
.rt-fit{ float:right; font:Arial, Helvetica, sans-serif !important; font-size:15px !important; padding:0px; margin:0px;}






.day-button{ border: #000000 solid 0px; }
.day-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:8px;
		
}

 
.day-button li a {
	background:transparent url(../images/day-lft.jpg) no-repeat left;
	color:#2e6278;
	height:25px;
	font-size:11px !important;
	font-weight:bold;
	padding:7px 0px 7px 0px; 
}
.day-button li a span {
	background:transparent  url(../images/day-rt.jpg) no-repeat 75px 1px;  
	color:#2e6278;
	padding:7px 19px 7px 10px; 
	
}





.day1-button{ border: #000000 solid 0px; }
.day1-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:8px;
		
}

 
.day1-button li a {
	background:transparent url(../images/day-lft.jpg) no-repeat left;
	color:#2e6278;
	height:25px;
	font-size:11px !important;
	font-weight:bold;
	padding:7px 0px 7px 10px; 
}
.day1-button li a span {
	background:transparent  url(../images/day-rt.jpg) no-repeat 55px 1px;  
	color:#2e6278;
	padding:7px 22px 7px 10px; 
	
}



.day2-button{ border: #000000 solid 0px; }
.day2-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:8px;
		
}

 
.day2-button li a {
	background:transparent url(../images/day-lft.jpg) no-repeat left;
	color:#2e6278;
	height:25px;
	font-size:11px !important;
	font-weight:bold;
	padding:7px 0px 7px 10px; 
}
.day2-button li a span {
	background:transparent  url(../images/day-rt.jpg) no-repeat 55px 1px;  
	color:#2e6278;
	padding:7px 24px 7px 10px; 
	
}





.day3-button{ border: #000000 solid 0px; }
.day3-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:8px;
		
}

 
.day3-button li a {
	background:transparent url(../images/day-lft.jpg) no-repeat left;
	color:#2e6278;
	height:25px;
	font-size:11px !important;
	font-weight:bold;
	padding:7px 0px 7px 10px; 
}
.day3-button li a span {
	background:transparent  url(../images/day-rt.jpg) no-repeat 55px 1px;  
	color:#2e6278;
	padding:7px 20px 7px 10px; 
	
}










.strip-wrapper{ width:920px; height:auto; overflow:hidden; } 
.strip-wrapper .strip-line-top{ width:920px; float:left; height:7px; background:#eaeaea;}
.strip-wrapper .strip-line-top .strip-top-rt{ width:12px; height:7px; background:url(../images/strip-top-rt.gif) top right no-repeat; float:right;}


.strip-wrapper .strip-mid-repeat{ width:920px; float:left; height:auto; overflow:hidden; padding-top:15px; padding-bottom:5px;
background:url(../images/strip-txt-mid.gif) left top repeat-y;}
.strip-wrapper .strip-mid-repeat .strip-txt{width:899px; float:left; padding:0 10px; }
.sec1 { float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:13px !important; width: 136px;}
.sec2 { float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:13px !important; width: 155px; text-align:center;}


.sec2 .red-button{ border: #000000 solid 0px; }
.sec2 .red-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-bottom:6px;
		
}

 
.sec2 .red-button li a {
	background:transparent url(../images/red-button-lft.gif) no-repeat left;
	color:#fff;
	font:Arial, Helvetica, sans-serif;
	font-size:12px !important;
	font-weight:bold;
	padding:6px 0 7px 5px;
 
}

.sec2 .red-button li a span {
	background:transparent url(../images/red-button-rt.gif) 80px 3px no-repeat;
	color:#fff;
	padding:6px 13px 7px 10px; 
	
}










.yel-button{ border: #000000 solid 0px; }
.yel-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-bottom:6px;
		
}

 
.yel-button li a {
	background:transparent url(../images/yel-button-lft.gif) no-repeat left;
	color:#fff;
	font:Arial, Helvetica, sans-serif;
	font-size:12px !important;
	font-weight:bold;
	padding:5px 0 7px 5px;
 
}

.yel-button li a span {
	background:transparent url(../images/yel-button-rt.gif) 80px 4px no-repeat;
	color:#fff;
	padding:6px 28px 7px 10px; 
	
}





.green-button{ border: #000000 solid 0px; }
.green-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-bottom:6px;
		
}

 
.green-button li a {
	background:transparent url(../images/green-button-lft.gif) no-repeat left;
	color:#fff;
	font:Arial, Helvetica, sans-serif;
	font-size:12px !important;
	font-weight:bold;
	padding:5px 0 7px 5px;
 
}

.green-button li a span {
	background:transparent url(../images/green-button-rt.gif) 80px 4px no-repeat;
	color:#fff;
	padding:6px 28px 7px 10px; 
	
}
.sec3 { float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:11px !important; width: 32px; text-align:right; padding-top:3px; padding-right:10px;}


.sec4 { float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:13px !important; width: 92px; text-align:center; padding:0 9px;}

.orange-button{ border: #000000 solid 0px; }
.orange-button li {
	display:inline; 
	list-style:none;
	padding-right:0px;
	padding-bottom:5px;
		
}

 
.orange-button li a {
	background:transparent  url(../images/orange-btn-lft.gif) no-repeat left;
	color:#fff;
	height:16px;
	font-size:11px !important;
	font-weight:bold;
	padding:4px 0 7px 0px; 
}

.orange-button li a span {
	background:transparent  url(../images/orange-btn-rt.gif) no-repeat 65px 7px; 
	color:#fff;
	padding:8px 17px 7px 10px;
 	
	
}


.sec5 {float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:11px !important; width: 120px; padding-left:10px; border: #000000 solid 0px;}

.sec6 {float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:12px !important; width: 36px; text-align:left;}

.sec7 {float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:13px !important; width: 77px; text-align:left;}


.sec8 {float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:11px !important; width: 53px; padding-left:10px; margin-top:-5px; }
.sec9 {float:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size:11px !important; width: 127px; padding-left:22px; }

.strip-wrapper .strip-line-bot{ width:920px; float:left; height:7px; background:#eaeaea url(../images/strip-bot-mid.gif) bottom left repeat-x;}
.strip-wrapper .strip-line-bot .strip-bot-rt{ width:12px; height:7px; background:url(../images/strip-bot-rt.gif) bottom right no-repeat; float:right;}




/*battery csss start*/
 .battery-cover{ width:57px; height:20px; float:left; background:url(../images/battery.jpg) left top no-repeat; padding:5px; }
 .battery-cover .color-base{ height:13px; background:#008600; float:left; width:40px;}
 .battery-cover .color-base .cut{ position:relative; z-index:9999; float:right;}
/*battery csss end*/


/*strip page end*/

