table.bluegrey, div.table { width: 100%; border: 1px solid #BBB; padding: 1px; overflow: auto;}
table.bluegrey td, div.table div.row { border: none; border-top: 1px dotted #666; margin-top: 2px; overflow: auto;}
table.bluegrey th, div.table div.header { background-color: #9ED3FA; border: none; overflow: auto;}
div.table div.row:hover { background-color: #D4ECFF;}
div.table div.row div { overflow: hidden; margin-left: 2px;}

.aligntop { vertical-align: top;}

.row
{
	clear:both;
	
	padding-top:10px;
}

.header
{
	font-weight:bold;
}

.header div
{
	padding-bottom:10px;
}

.row div
{
	float:left;
}

.col-25
{
	width:25px;
}

.col-50
{
	width:50px;
}

.col-75
{
	width:75px;
}

.col-100
{
	width:100px;
}

.col-125
{
	width:125px;
}

.col-150
{
	width:150px;
}

.col-175
{
	width:175px;
}

.col-200
{
	width:200px;
}

.col-225
{
	width:225px;
}

.col-250
{
	width:250px;
}

.col-275
{
	width:275px;
}

.col-300
{
	width:300px;
}

table.colored {
  border: 1px solid #4C4C4C;
  padding: 10px;
}
table.colored th {
  background-color: #B3B3B3;
  text-align: left;
  padding-left: 5px;
}
