<div id="call_list-col">
	<div id="call_list-col-header">
		Signup Complete!
	</div>
	
	<div class="content">
		<p>
			Email sent.
		</p>	
	</div>

	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>