<div id="call_list-col">
	<div id="call_list-col-header">
		Signup Complete!
	</div>
	
	<div class="content">
	  Email sent to <%= @user.email %> for activation of account.
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>