<% form_for :user, :url => {:controller => 'users', :action => 'create_caregiver'} do |f| -%>
  <%= hidden_field_tag "back_url", @back_url %>
  <%= render :partial => 'caregiver_form_common', :locals => {:f => f} %>
	<div align="center">
		<input name="commit" type="image" src="/images/next.gif" />
		<%= link_to image_tag("cancel.gif"), @back_url %>
	</div>
<% end -%>