<% remote_form_for :user, :url => {:controller => 'users', :action => 'create_caregiver'}, :update => 'container' do |f| -%>
  <%= render :partial => 'caregiver_form_common', :locals => {:f => f} %>
	<div align="center">
		<input name="commit" type="image" src="/images/next.gif" /><a href="#"><img src="/images/cancel.gif" onClick="RedBox.close()" /></a>
	</div>
<% end -%>