
<div style="width:200px;margin-left:320px" id="container">
<a href="#"><img src="/images/tooltip-close.gif" onClick="RedBox.close()" /></a>
</div>
	<h2><b>Caregiver Email Sent</b></h2>
	<p>Your caregiver has been emailed.</p>