<p><ul>
	<table>
		<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
			<td><a href="/Halo_Subscriber_Agreement.pdf" target="_blank">Halo Subscriber Agreement</a></td>
			</tr>
		<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
			<td><a href="/Halo_User_Intake_Form.pdf" target="_blank">Halo User Intake Form</a></td>
		</tr>
	</table>
				
</ul></p>

<p>To begin the home installation, please locate and follow the printed instructions in the box. The instructions are titled <i>"User Installation Guide for the myHalo™ System"</i>.  The following computer/network setup will be needed for the installation: </p>
	<ul><li>A standard phone line OR an open wired Ethernet port on either your router or cable modem/DSL modem
		<li>Make sure all computers (including caregivers) visiting the myHalo web portal are NOT running Internet Explorer 6 (IE6) by visiting <a href="/ie6check.html">http://www.myhalomonitor.com/ie6check</a> on all computers</li>
		<li>If a firewall is setup, please make sure ports 123, 443, and 37215 are unblocked
		<li>Enough table space for the Halo gateway (L x W x H = approx 6" x  9"  x  2")
		<li>An open 2-prong power outlet 
	</ul>
		