<div id="call_list-col">
	<div id="call_list-col-header">
		Activation Complete!
	</div>
	
	<div class="content">
		<p>
			You can now <%= link_to 'login.', :controller => 'sessions', :action => 'new'%>
		</p>	
	</div>

	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>