<div id="call_list-col">
	<div id="call_list-col-header">
		Signup Complete!
	</div>
	
	<div class="content">
		<p>Email sent to user.  Please <a href="/call_list/show/<%=@user.id %>">add Caregivers</a> for user <%= @user.name %>.</p>	
		<div id="device-table" class="table">
		<div class="row header">
		<div class="col-150">
			User ID
		</div><div class="col-250">
			Name
		</div>
		</div>
	<div class="row">
		<div class="col-150">
			<%= @user.id %>
		</div>
		<div class="col-250">
			<%= @user.name %>
		</div>
	  </div>
	</div>
	</div>

	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>