<div id="user_signup-col">
	<div id="user_signup-col-header">
		Email Preview for SaftyCare
	</div>
	<div style="padding-left:25px;padding-bottom:10px;color:red;"><%= flash[:mail_send]%></div>
    <div style="padding-left:25px;">
	<%= link_to 'Send Email to SafetyCare',:controller => 'users',:action => 'send_caregiver_details',:id => @user.id%>
	</div>
	<div class="content" style="padding:25px">
	<pre><%= render :partial => 'email_view'%></pre>
    </div>
</div>