<div id="user_signup-col">
	<div id="user_signup-col-header">
		Email to SafetyCare
	</div>
	<div style="padding-left:25px;color:red;"><%= flash[:mail_send]%></div>
    <div style="padding-left:25px;">
	<!--%= link_to 'Re-send Email to SafetyCare',:controller => 'users',:action => 'send_caregiver_details',:id => @user.id%-->
	</div>
	<div class="content" style="padding:25px">
	This email was sent:
	<pre><%= render :partial => 'email_view'%></pre>
    </div>
</div>