<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif">
	<div class="lightbox-content">
		<div style="width:380px;" id="container">
			<% 
				form_display = 'block'
				if !@removed_caregivers.empty? 
					form_display = 'none' 
			%>
				<div id="removed_caregivers">
					<p>
						Choose a recently removed caregiver or <a href="#" onClick="$('removed_caregivers').style.display='none';$('caregiver_form').style.display='block'">continue adding a new caregiver</a>.
					</p>
					<ul>
					<% @removed_caregivers.each do |caregiver| %>
						<% user = User.find(caregiver.user_id)%>
						
						<li><%=link_to_remote user.profile.first_name+" "+user.profile.last_name, :update => 'call_list', :url => {:controller => 'users', :action => 'restore_caregiver_role', :id => caregiver.roles_users_option.id}, :complete => "RedBox.close()"%></li>
					<% end %>
					</ul>
				</div>
			<% end %>
	
			<div id="caregiver_form" style="display:<%=form_display%>">
				<%=render :partial => 'caregiver_form'%>
			</div>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif">
</div>