<%= render :partial => 'nav'%>
<h3>Gateway Password Retrieval</h3>
<div class="box">
  <form action="/atp/gateway_password" method="POST">
    <%= text_field_tag :serial_number %>
    <br/>
    <br/>
    <input type="submit" value="Submit" />
  </form>
</div>