<div>
<a href="/pools">Pools</a>
| <a href="/atp/work_orders">Work Orders</a>
| <a href="/atp/atp_items_init">ATP Items</a>
| <a href="/atp/report">Reports</a>
</div>
<br>
<br>
<div>
<p>Table Maintenance</p>
<br>
<div>
<a href = "/atp/device_types_init">Device Types</a>
<a href = "/atp/device_models_init">Device Models</a>
<a href = "/atp/device_revisions_init">Device Revisions</a>
</div>
