<h1>New battery_charge_complete</h1>

<%= error_messages_for :battery_charge_complete %>

<% form_for(@battery_charge_complete) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', battery_charge_completes_path %>
