<div id="header">
  <div class="container">
    <div id="user-info">
      <% if logged_in? %>
      <%= render :partial => '/layouts/links' -%>

      Welcome, <%= current_user.full_name -%> <!--% if ENV['RAILS_ENV'] == "development"%--> (#<%= current_user.id -%> <%= current_user.login %>) <!--% end %-->
      <span class="divider">|</span>
      <span id="logout"><a href="/logout">Logout</a></span>
      <span class="divider">|</span>				
      <% end -%>
    </div>
    <img src="/images/halo-logo-2.gif" alt="Halo Research" id="logo-2" />
    <img src="/images/header-people.gif" alt="People" id="people" />			
  </div>
</div>
