<center>
<div id="installer_div">
 <div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content" style="font-size:20px">
		<div style="width:300px;margin-left:auto;margin-right:auto" id="container">
			Make sure that the telephone line AND ethernet cable are plugged into the back of the Halo gateway.
			<br />
			<br />
			<a href="/installer/led_check_step/?user_id=<%= @user_id %>&group_name=<%= @group_name %>"><img src="/images/next.gif" /></a>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>
</div>
</center>