<center>
<div id="installer_div">
 <div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content" style="font-size:20px">
		<div style="width:300px;margin-left:auto;margin-right:auto" id="container">
			Please click <a href="/installs/flash_install_upgrade"  target="flash_install_upgrade">this link</a> to make sure you have the correct version of Flash Player. This will launch a new tab to check if your Flash Player needs upgrading.<br><br>
If the Flash Player needs to upgrade, please come back to this tab while it is upgrading in the other tab.
      <br />
			<br />
			<a href="/installer/phone_check_step/?user_id=<%= @user_id %>&group_name=<%= @group_name %>"><img src="/images/next.gif" /></a>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
 </div>
</div>
</center>