<script language="javascript">
var isLoaded = false;
var checkRegistration = true;
var firstManualPB;
var install_wizard_percentage = 0;
Event.observe(window, 'load', function() {
   firstManualPB = new JS_BRAMUS.jsProgressBar($('installation_wizard_progress'), 0, {animate: true, width: 120, height: 12});
    isLoaded = true;
  }, false);
  
  
function update_percentage(percentage){
	firstManualPB.setPercentage(percentage);
	install_wizard_percentage = percentage;	
}
function updateCheckRegistration(b){
	checkRegistration = b;
}
</script>
<center>
<div id="installer_div">
 <div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content" style="font-size:20px">
		<div style="width:300px;margin-left:auto;margin-right:auto" id="container">
			<div class="row">
  			<div class="percentImage1" id="installation_wizard_progress">[ Loading Progress Bar ]</div>
  		</div>
			<br />
			<br />
			<div id="installer_id">
			  <div><img id="registered_check" width="60" height="60" src="/images/checkbox_grey.png"></div>
  			<div id="registered_div_id" style="font-size: 200%;vertical-align: middle;">Registering</div>
  			<div id="registered_div_id_duration" style="vertical-align: middle;"></div>
			</div>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>
</div>
</center>
<%= periodically_call_remote(:url => { 	:controller => 'installer', 
										:action => 'registration_progress', 
						 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id }, 
							 :condition => "checkRegistration && isLoaded", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>