<h1>Listing raw data files</h1>

<ul id="raw_data_files">
<% @raw_data_files.each do |raw_data_file| %>
<%= render(:partial => '/raw_data_files/list_item', :object => raw_data_file)%>
<% end %>
</ul>


<br />
<h2><%= link_to 'Upload a new raw data file', new_raw_data_file_path %></h2>