<% form_for :order, :action => 'new' do |f| %>
  <div id="coupon_code" class="textright">
    <%= f.label :coupon_code, "Coupon Code" %> <span class="tiny">(if any)</span>
    <%= f.text_field :coupon_code, :style => "width: 150px" %>
    <span class="tiny">Example: WINTER</span>
    
    <%= f.submit "Apply", :disable_with => 'Applying...', :class => 'button green-button small' %>
  </div>
<% end %>
