<div><%= flash[:notice] %></div>

<% form_tag :action => "select_group" do %>
  <fieldset>
    <legend>Please select a group</legend>
    <div class="span-6">
      <%= label_tag "group_id", "Group name" %> : 
      <%= select_tag "group_id", options_from_collection_for_select( @groups, "id", "name", session[:order_group_id]).insert( 0, "<option value=''>Please select a group...</option>") %>
    </div>
    <div class="span-6 last">
      <%= submit_tag "Continue", :class => "button blue-button" %>
    </div>
  </fieldset>
<% end -%>