<div><%= will_paginate @audits %></div>
<table class="bluegrey prepend-top">
  <tr>
    <th>ID</th>
    <th>Ver</th>
    <th>Table</th>
    <th>Action</th>
    <th>Changes</th>
    <th>Referrer URL</th>
    <th>Created at</th>
    <th>By user</th>
    <th>IP address</th>
  </tr>
  <%= render :partial => 'audit_row', :collection => @audits %>
</table>
<div><%= will_paginate @audits %></div>
