<h1 id="audit_log">Audit log for user <%= @model_object.name %></h1>
<div class="span-8">
  <% @model_object.user_intakes.each do |user_intake| %>
  <div>User Intake <%= user_intake.id %>:
    <% user_intake.users.each do |user| %>
      <span><%= link_to "#{user.name}", user_audits_path( user.id) unless user.blank? %> </span>
    <% end %>
  </div>
  <% end %>
</div>
<hr />
