<% if @model_object.is_a?( User) %>
  <h1 id="audit_log">Audit log for user <%= @model_object.name %></h1>
<% elsif @model_object.is_a?( Invoice) %>
  <h1 id="audit_log">Audit log for invoice <%= @model_object.id %></h1>
<% end %>
<hr />
<%= render :partial => 'audits_list' %>
