<% rs = []
	 user.roles.each do |role| 
	  rs << role
   end 
   rs.sort! do |a,b|
     a.name <=> b.name
   end
   names = []
   rs.each do |role|
     if role.authorizable_type == 'Group'
       group = Group.find(role.authorizable_id)
       names << "#{role.name} / #{group.name}"
     else
       names << role.name
     end
   end
-%>
<div>
<% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_moderator? %>
<a href="/user_admin/roles">Configure</a> | &nbsp;
<% end %>
<%  names.uniq.sort.each do |name| -%>
			<%= name %><br />
<%  end -%>
</div>