<% rs = []
	 user.roles.each do |role| 
	  rs << role
   end 
   rs.sort! do |a,b|
     a.name <=> b.name
   end
   names = []
   rs.each do |role|
     if role.authorizable_type == 'Group'
       group = Group.find(role.authorizable_id)
       names << "#{role.name} / #{group.name}"
     else
       if (role.name == 'caregiver')
         halouser = User.find(role.authorizable_id) 
         !halouser.nil? ? names << role.name + " / #{halouser.name}" : names << roles.name
       else
         names << role.name
       end
     end
   end
-%>
<div>
<%  names.uniq.sort.each do |name| -%>
			<%= name %><br />
<%  end -%>
</div>