<% rs = []
	 user.roles.each do |role| 
	  rs << role unless role.nil?
   end 
   rs.sort! do |a,b|
     a.name <=> b.name
   end
   names = []
   rs.each do |role|
     if role.authorizable_type == 'Group'
       group = Group.find(role.authorizable_id)
       names << "#{role.name} / #{group.name}"
     else
       if (role.name == 'caregiver') || (role.name == 'subscriber')
         halouser = User.find(role.authorizable_id) unless role.authorizable_id.blank?
         
         if !halouser.nil?
           hname = role.name + " for (#{halouser.id}) #{halouser.name}"   
           names << link_to(hname, :controller => 'call_list', :action => 'show', :id => halouser.id)
         else 
           names << role.name
         end          
       else
         names << role.name
       end
     end
   end
-%>
<div>
<%  names.uniq.sort.each do |name| -%>
			<%= name %><br />
<%  end -%>
</div>