<h1>Editing heartrate</h1>

<%= error_messages_for :heartrate %>

<% form_for(:heartrate, :url => heartrate_path(@heartrate), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', heartrate_path(@heartrate) %> |
<%= link_to 'Back', heartrates_path %>