<h1>Listing heartrates</h1>

<table>
  <tr>
  </tr>
  
<% for heartrate in @heartrates %>
  <tr>
    <td><%= link_to 'Show', heartrate_path(heartrate) %></td>
    <td><%= link_to 'Edit', edit_heartrate_path(heartrate) %></td>
    <td><%= link_to 'Destroy', heartrate_path(heartrate), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New heartrate', new_heartrate_path %>