<h1>Listing vitals</h1>

<table>
  <tr>
  </tr>

<% for vital in @vitals %>
  <tr>
    <td><%= link_to 'Show', vital %></td>
    <td><%= link_to 'Edit', edit_vital_path(vital) %></td>
    <td><%= link_to 'Destroy', vital, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vital', new_vital_path %>
