<div id="call_list-col">
	<div id="call_list-col-header">
		Alerts
	</div>
	<div class="content">
		  <div id="call_list_header" style="height:25px">
        <div style="float:left;width:805px;padding-left:10px">
          <b>Non Critical Alert Type</b> 
        </div>
        <div style="float:left;width:75px">
      <b>Email</b> 
    </div>
        <div style="float:left;width:40px">
      <b>Text</b> 
    </div>
  </div>
			<% @alert_types.each do |alert| %>
			<% if alert.deprecated != true %>
				<%
					critical = false
					alert.alert_groups.each do |group|
						if group.group_type == 'critical'
							critical = true
							break
						end
					end
					
					next if critical
				%>
				
				<% 
					if alert_opt = AlertOption.find(:first,:conditions => "roles_user_id = #{@roles_user.id} and alert_type_id = #{alert.id}")
						alert[:phone_active] = alert_opt.phone_active
						alert[:email_active] = alert_opt.email_active
						alert[:text_active] = alert_opt.text_active
					else
						alert[:phone_active] = alert.phone_active
						alert[:email_active] = alert.email_active
						alert[:text_active] = alert.text_active
					end
				%>
				<div class="active" style="padding-left:10px;background:url('/images/call_list-item-alerts.gif') no-repeat;height:50px">
					<div style="float:left;padding-top:17px;width:250px">
						<%=UtilityHelper.camelcase_to_spaced(alert.alert_type)%>
					</div>
					<div style="float:right">
						<!--PHONE-->

						<div style="float:left;padding-top:15px;width:75px">
							<% 
								if !alert[:phone_active]
									img = 'call_list-phone-inactive.gif'
								else
									img = 'call_list-phone.gif'
								end
								
								if alert[:phone_active]
									phone_active = 1
								else
									phone_active = 0
								end
							%>

							
						</div>

						<!--EMAIL-->

						<div style="float:left;padding-top:8px;width:75px">
							<% 
								if !alert[:email_active]
									img = 'call_list-email-inactive.gif'
								else
									img = 'call_list-email.gif'
								end
								
								if alert[:email_active]
									email_active = 1
								else
									email_active = 0
								end
							%>

							<%=link_to_remote(image_tag(img, :id => 'alert_email_'+alert.id.to_s), :url => { :action => "toggle_email",:id => alert.id, :roles_user_id => @roles_user.id }, :before => 'toggleAlert('+alert.id.to_s+', '+email_active.to_s+', \'email\')')%>
						</div>

						<!--TEXT-->

						<div style="float:left;padding-top:8px;width:50px">
							<% 
								if !alert[:text_active]
									img = 'call_list-text-inactive.gif'
								else
									img = 'call_list-text.gif'
								end
								
								if alert[:text_active]
									text_active = 1
								else
									text_active = 0
								end
							%>

							<%=link_to_remote(image_tag(img, :id => 'alert_text_'+alert.id.to_s), :url => { :action => "toggle_text",:id => alert.id, :roles_user_id => @roles_user.id }, :before => 'toggleAlert('+alert.id.to_s+', '+text_active.to_s+', \'text\')')%>
						</div>
					</div>
				</div>
				<%end%>
			<% end %>			
		<p>&nbsp;</p>		
		<%= link_to '&laquo; Back to Account Settings', :controller => 'call_list', :action => 'show', :id => current_user.id %>
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>
