<div id="lightbox-col" style="position:fixed;top:200px;left:400px;">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
<!--	 <a href="<%= session[:redirect_url]%>"><img src="/images/tooltip-close.gif" /></a> -->
	</div>
			<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
			  <% if current_user.is_super_admin? %> <!-- https://redmine.corp.halomonitor.com/issues/2722 -->
          Profile Updated. Only super_admins are allowed to do this. You MUST follow up with the call center with these changes.
        <% else %>
          Please call tech support 1-888-971-HALO (4256) to make this modification.
        <% end -%>
		</div>
		<br>
		<center><a href="<%= session[:redirect_url]%>"><img src="/images/ok_button.png" /></a></center>
	</div>
	
	<img src="/images/lightbox-col-footer.gif" />
</div>