<h1>Listing battery_pluggeds</h1>

<table>
  <tr>
  </tr>

<% for battery_plugged in @battery_pluggeds %>
  <tr>
    <td><%= link_to 'Show', battery_plugged %></td>
    <td><%= link_to 'Edit', edit_battery_plugged_path(battery_plugged) %></td>
    <td><%= link_to 'Destroy', battery_plugged, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New battery_plugged', new_battery_plugged_path %>
