<%= render :partial => 'reporting/nav'%>
<h2><%= @column %> for Payment Gateway Response ID# <%= @payment_gateway_response.id %></h2>
<p>
  <%= @payment_gateway_response.field_to_html(@column) unless @column.blank? %>
</p>