<!-- <meta http-equiv="refresh" content="30"> -->
<%= render :partial => 'reporting/nav'%>
<h2>Payments</h2>
<p>
  <table class="bluegrey">
    <tr>
      <th>ID</th>
      <th>Purpose</th>
      <th style="width:25px;">Order ID</th>
      <th style="width:75px;">Amount</th>
      <th style="width:25px;">Success</th>
      <% if current_user.is_super_admin? %>
      <th style="width:100px;">Authorization</th>
      <% end %>      
      <th>Message</th>
      <% if current_user.is_super_admin? %>
      <th>Params</th>
      <th>Request data</th>                      
      <th>Request HTTP Headers</th>
      <% end %>            
      <th>Created At</th>
    </tr>
    <%= render :partial => 'payment_gateway_response', :collection => @payment_gateway_responses %>
  </table>
</p>

<p>
  <center><big><%= will_paginate @payment_gateway_responses %></big></center>
</p>