<h1>Editing strap_fastened</h1>

<%= error_messages_for :strap_fastened %>

<% form_for(@strap_fastened) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @strap_fastened %> |
<%= link_to 'Back', strap_fasteneds_path %>
