<h1>New strap_fastened</h1>

<%= error_messages_for :strap_fastened %>

<% form_for(@strap_fastened) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', strap_fasteneds_path %>
