<% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_moderator? %>
<a href="/reporting/users">Users</a> 
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? %>
| <a href="/reporting/devices">Devices</a> 
| <a href="/reporting/summary">Summary</a> 
| <a href="/reporting/init_strap_not_worn">User Compliance</a> 
| <a href="/reporting/init_successful_user_logins">User Logins</a> 
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_moderator? %>
| <a href="/user_admin/roles">Assign Roles</a> 
<% end %>
<% if current_user.is_super_admin? %>
| <a href="/carriers/">Carriers</a>
<% end %>
<% if current_user.is_super_admin? %>
| <a href="/oscopes/index">Oscope CSV</a>
<% end %>
<% if current_user.is_super_admin? %>
| <a href="/atp/index">ATP</a>
<% end %>
<% if current_user.is_super_admin? %>
| <a href="/system_timeouts/index">System Timeouts</a>
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_operator? %>
| <%= link_to 'Critical Event Log', url_for(:controller => 'call_center', :action => 'index') %>
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? %>
| <%= link_to 'Audits', url_for(:controller => "reporting", :action => "audit")%>
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? %>
| <%= link_to 'Falls/Panics', url_for(:controller => "reporting", :action => "fall_panic_report")%>
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? %>
| <%= link_to 'Compliance', url_for(:controller => "reporting", :action => "compliance_report")%>
<% end %>
<p>&nbsp;</p>