<div style="float:right">
  <form action='/reporting/devices' method="get">
    Search: <input type="text" id="device_id_or_serial" name="device_id_or_serial" value="<%= params[:device_id_or_serial] %>"/>
    <input type="submit" value="Search Devices" class="button green-button" />
    <br />
    <span class="tiny">
      Enter partial serial number or ID<br />
      Any non-digit is considered as "0" (zero)
    </span>
  </form>
</div>
