<div class="row header">
	<div class="col-25">
		&nbsp;
	</div>

	<div class="col-25">
		<%=link_to_remote "ID", :update => 'user-table', :url => {:action => 'sort_user_table', :col => 'id'}%>
	</div>

	<div class="col-125">
		<%=link_to_remote "Name", :update => 'user-table', :url => {:action => 'sort_user_table', :col => 'name'}%>
	</div>

	<div class="col-300">
		Role(s) 
		<% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_moderator? || current_user.is_sales? %>
		  <a href="/user_admin/roles">Configure</a>&nbsp;
		<% end %>
	</div>

	<div class="col-150">
		Last Login
	</div>

	<div class="col-200">
		Links
	</div>

</div>

<% if @group
  us = []
  users.each do |user|
    us << user if user.group_memberships.include? @group
  end
  users = us
end
%>
<% users.each do |user| %>
  <% if current_user.is_super_admin? || current_user.is_admin_of_any?(user.group_memberships) || current_user.is_sales? || current_user.is_moderator_of_any?(user.group_memberships) %>
    <%=render :partial => 'reporting/table/user_row', :locals => {:user => user, :toggle => true, :caregiver => false}%>
	<div id="user_<%=user.id%>-hidden" style="display:none"></div>
  <% end %>
<% end %>