<div id="user-table" class="table bluegrey span-24 last">
  <div class="row header">
    <div class="col-25">
      &nbsp;
    </div>

    <div class="col-35">
      <%= link_to_remote "ID", {:update => 'user-table', :url => {:action => 'sort_user_table', :col => 'id', :group_name => @group_name}}, {:title => "Order by User ID"} %>
    </div>

    <div class="col-150">
      <%= link_to_remote "Name", {:update => 'user-table', :url => {:action => 'sort_user_table', :col => 'name', :group_name => @group_name}}, {:title => "Order by Last Name in User Profile"} %>
    </div>

    <div class="col-250">
      Role(s) 
      <% if current_user.is_super_admin? %>
      <a href="/user_admin/roles">Configure</a>&nbsp;
      <% end %>
    </div>

    <div class="col-150">
      Last Vitals POST (older than 1 day in <font color="red">red</font>)<br>
    </div>

    <div class="col-200">
      Links
    </div>
  </div>

  <%= render :partial => 'reporting/table/user_row', :collection => @users, :locals => { :toggle => true, :caregiver => false} %>
</div>