<h2>Lost data for <%=@user.login%>:</h2>
All times are in <%= @user.profile.time_zone %> timezone
<p>&nbsp;</p>
<p>
  <table>
    <tr>
      <td><b>Start</b></td>
        <td>&nbsp;&nbsp;</td>
        <td><b>End</b></td>
        </tr>
        <% @lost_data.each do |reading| %>
          <tr>
            <td><%=UtilityHelper.format_datetime_readable(reading.begin_time.to_s(:db), @user)%></td>
              <td></td>
              <td><%=UtilityHelper.format_datetime_readable(reading.end_time.to_s(:db), @user)%></td>
              </tr>
            <% end %>
          </table>
  </p>
