<%=render :partial => 'nav'%>

<p>Number of patients with a critically low battery (under 10 min remaining): <%=@critically_low.length%></p>

<h3>Number of critical events</h3>
<!-- amcolumn script-->
	<div id="critical_events">
			<strong>You need to upgrade your Flash Player</strong>
		</div>

		<script type="text/javascript">
			// <![CDATA[		
			var so = new SWFObject("/amcharts/amline.swf", "amcolumn", "600", "400", "8", "#ffffff");
			//so.addVariable("path", "/amcharts/");
			so.addVariable("settings_file", "/amcharts/settings/critical_event.xml");
			so.addVariable("data_file", escape("/reporting/critical_event_data"));
			so.addVariable("preloader_color", "#ffffff");
			so.write("critical_events");
			// ]]>
		</script>
<!-- end of amcolumn script -->