<%=render :partial => 'search'%>
<%=render :partial => 'nav'%>
<form id="group_form_id" action="/reporting/users" method="POST">
<% gs = ['']
   @groups.each do |group|
     gs << group.name
   end
%>
Select Group:  
<%= select_tag 'group_name', options_for_select(gs.collect { |g| [g, g]}, @group_name), {:onchange => "$('group_form_id').submit();"}%>
</form>
<div id="user-table" class="table">
	<%=render :partial => 'user_table', :locals => {:users => @users, :sortby => 'id', :reverse => false}%>
</div>

<div id="range_test_launcher"></div>
<script language="javascript">
function start_range_test(user_id){
	url = "/installs/start_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
function stop_range_test(user_id){
	url = "/installs/stop_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
</script>