<h1>Editing orientation</h1>

<%= error_messages_for :orientation %>

<% form_for(:orientation, :url => orientation_path(@orientation), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', orientation_path(@orientation) %> |
<%= link_to 'Back', orientations_path %>