<div class="text-center box">
  <p><%= link_to 'Dashboard on Day 1', url_for(:controller => 'sandbox', :action => 'dashboard-martha'), :class => "button blue-button large" %></p>
  <p><%= link_to 'Dashboard on Day 2', url_for(:controller => 'sandbox', :action => 'dashboard2-marian'), :class => "button blue-button large" %></p>
</div>
