<h1>User Intake: Subscription Charge</h1>
<div class="box">
  <p>
    Subcription status: 
    <% if (@user_intake.order && @user_intake.order.subscription_successful?) %>
      <%= image_tag( 'tick.png' ) %> Success
    <% else %>
      <%= image_tag( 'exclamation.png') %> <%= link_to "Failure", order_payment_gateway_responses_path( @user_intake.order) %>
    <% end %>    
  </p>
  <p>
    <% @user_intake.order.payment_gateway_responses.subscription.each do |_response| %>
      <%= _response.message %>
    <% end %>
  </p>
</div>
