<div class="box">
<div class="text-large">
  <p>    
    Please click <strong>"Continue"</strong> below to fill out your online User Intake form which will ask for your profile and your caregiver's profiles. Your account <strong>CANNOT</strong> go live until 48 hours after you have submitted the online User Intake form. <br /><br />
    You can come back to the online User Intake form  by clicking the <strong>"Save"</strong> button and then going to <em>My Links > User Intake</em>. But once you click the <strong>"Submit"</strong> button, you cannot make any more changes
  </p>
</div>
<div class="text-right">
  <%= link_to "Continue", edit_user_intake_path( @user_intake), :class => "button green-button" %>
</div>
</div>