<div class="text-large">
  <p>
    You must fill out a user intake form that will including your contact and caregiver info.<br />
    You can come back to it by clicking the <strong>"Save"</strong> button and then going to <em>My Links > User Intake</em>.<br />
    Once you click the <strong>"Submit"</strong> button, you cannot make any more changes
  </p>
</div>
<div class="text-right">
  <%= link_to "Continue", edit_user_intake_path( @user_intake), :class => "button green-button" %>
</div>