<h1>Battery History</h1>
<!-- amcolumn script-->
	<div id="flashcontent">
			<strong>You need to upgrade your Flash Player</strong>
		</div>

		<script type="text/javascript">
			// <![CDATA[		
			var so = new SWFObject("/amcharts/amline.swf", "amcolumn", "600", "400", "8", "#ffffff");
			//so.addVariable("path", "/amcharts/");
			so.addVariable("settings_file", "/amcharts/settings/battery.xml");
			so.addVariable("data_file", escape("/batteries/chart_data/<%=params[:id]%>"));
			so.addVariable("preloader_color", "#ffffff");
			so.write("flashcontent");
			// ]]>
		</script>
<!-- end of amcolumn script -->