<h1>Listing batteries</h1>

<table>
  <tr>
  </tr>
  
<% for battery in @batteries %>
  <tr>
    <td><%= link_to 'Show', battery_path(battery) %></td>
    <td><%= link_to 'Edit', edit_battery_path(battery) %></td>
    <td><%= link_to 'Destroy', battery_path(battery), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New battery', new_battery_path %>