<h1>New battery</h1>

<%= error_messages_for :battery %>

<% form_for(:battery, :url => batteries_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', batteries_path %>