<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<font size="5" face="Times">

“This will take you to the Backup Call Center site. Are you sure ?”.
</br>
<br/>

<a href="/call_center" onclick="return confirm('YES, Go to the Backup Call Center at backup.cc.halomonitor.com');">YES, Go to the Backup Call Center at backup.cc.halomonitor.com </a>

<br/>
<br/>
<a href="http://cc.halomonitor.com/">NO, Go to the Primary Call Center at cc.halomonitor.com</a>


</font>

