<form action="/call_center/faq_save" method="POST">
<% if !@id.blank?  %>
  <input type="hidden" name="call_center_faq_id" value="<%= @id %>">
<% end %>
<p>FAQ Text</p>
<p>
  <%= text_area :faq, :faq_text, :cols => 80, :rows => 25 %>
</p>
<p>
  <input type="submit" name="Submit" value="submit" />
</p>
</form>