<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	 <a href="#"><img src="/images/tooltip-close.gif" onClick="showPhone();RedBox.close();" /></a>
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
			Please allow popups in your web browser for myhalomonitor.com. Then click below to launch a new tab to check if your Flash Player needs upgrading. After kicking off the upgrade (if necessary) in the new tab, immediately come back to this tab and continue the installation.
			<br />
			<br />
			<button name="OK" onclick="launchFlashCheck();showPhone();RedBox.close();" >Launch Flash Upgrade tab</button>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>