<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	 
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
			Please hold the Ctrl key and click <a href="/installs/flash_install_upgrade" onclick="showPhone();RedBox.close();" target="flash_install_upgrade">this link</a> at the same time to make sure you have the correct version of Flash Player. This will launch a new tab to check if your Flash Player needs upgrading.<br><br>
If the Flash Player needs to upgrade, please come back to this tab while it is upgrading in the other tab.
			<!--button name="OK" onclick="launchFlashCheck();showPhone();RedBox.close();" >Launch Flash Upgrade tab</button-->
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>