<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	 <a href="#"><img src="/images/tooltip-close.gif" onClick="RedBox.close();" /></a>
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
			Click OK to launch pop up for Flash Player upgrade. Please allow popups in your web browser for myhalomonitor.com.
			<br />
			<button name="OK" onclick="launchFlashCheck();RedBox.close();" >OK</button>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>