<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
		Please check the range in the following rooms and write down areas with one long beep (OUT of range)
			<br />
			<br />
			<ul>
				<li>Lying down in bed</li>
				<li>Stand in shower</li>
				<li>Kitchen</li>
				<li>Living room</li>
				<li>Other main activity areas</li>
			</ul>
			<br />
			<br />
			Your battery is at <%= @battery.percentage %>%. Please recharge if necessary before begining the Range Test.
			<br />
			<br />
			Two short beeps -- In Range
			<br />
			<br />
			One long beep   -- Out of Range
			<br />
			<br />
			<button onclick="javascript:start_range_test();RedBox.close();">Start Range Test</button>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>