<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
			If the Halo chest strap has been charging for at least 5 minutes then have the user wear the Halo chest strap.
			<br />
			<br />
			Then make sure that the telephone line AND ethernet cable are plugged into the back of the Halo gateway.
			<br />
			<br />
			<button name="OK" onclick="showLed();RedBox.close();" >&nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;</button>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>