<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	 <a href="#"><img src="/images/tooltip-close.gif" onClick="stop_range_test();RedBox.close();" /></a>
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
			<button onclick="javascript:stop_range_test();RedBox.close();">Stop Range Test</button>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>