<h1>Editing strap_removed</h1>

<%= error_messages_for :strap_removed %>

<% form_for(@strap_removed) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @strap_removed %> |
<%= link_to 'Back', strap_removeds_path %>
