<div id="main-col-header">
	Patients:
	<select onchange="document.location = '/chart/index/'+this.value">
	<% current_user.is_caregiver_for_what.each do |patient| %>
		<option value="<%=patient.id%>"><%=patient.login%></option>
	<% end %>
	</select>
</div>